[2020-09-29 13:48] gabrielbodard opened #1 "Discussion of Brunner 1993, Crane 2002, Terras 2010"
Read and discuss:
* Brunner, Theodore F. (1993), “Classics and the Computer: The History of a Relationship.” In _Accessing Antiquity_, ed. Jon Solomon, pp. 10-33. Tucson: U. Arizona Press.
* Crane, Gregory (2004). "Classics and the Computer: An End of the History." In _A Companion to Digital Humanities_, eds. Schreibman, Siemens, Unsworth, pp. 46-55. Oxford: Blackwell. Available: http://www.digita

[2020-09-29 13:49] gabrielbodard opened #2 "Help with commandline, Github setup and sharing"
Any technical problems with using Terminal/commandline or setting up Git/Github on your machine, please ask them here, and your colleagues may be able to help.

[2020-10-07 10:27] nicolealexandra33 commented on #1
[Brunner 1993.docx](https://github.com/SunoikisisDC/SunoikisisDC-2020-2021/files/5339831/Brunner.1993.docx)

[2020-10-07 11:08] gabrielbodard commented on #1
@nicolealexandra33 it might be easier to follow if you just pasted the content of your summary into the comment, rather than attaching a doc. (You could also learn a bit about Markdown to format the title etc. if you like!)

[2020-10-07 12:04] despinaborcea commented on #1
**Terras, Melissa (2010), "The Digital Classicist: Disciplinary Focus and Interdisciplinary Vision." In Digital Research in the Study of Classical Antiquity, eds. Bodard, Mahony, pp. 171-189. Ashgate.**
[http://www.ucl.ac.uk/infostudies/melissa-terras/research/Chapter_10_Terras.pdf](url)

In this article, Terras explores the advantages and disadvantages of an interdisciplinary approach to the Gree

[2020-10-07 12:09] nicolealexandra33 commented on #1
**Brunner, Theodore F. (1993), “Classics and the Computer: The History of a Relationship.” In Accessing Antiquity, ed. Jon Solomon, pp. 10-33. Tucson: U. Arizona Press.Brunner, Theodore F. (1993), “Classics and the Computer: The History of a Relationship.” 	In Accessing Antiquity, ed. Jon Solomon, pp. 10-33. Tucson: U. Arizona Press.**

This article describes the evolution of digital classics in i

[2020-10-07 15:47] gabrielbodard commented on #1
Another question to think about (for all readings):

* Who is the author, and what is their connection to the material/project(s) they're describing in this paper? Where was the paper published and does that have any impact on the content, intent, agenda?

[2020-10-07 17:26] annaszajbely commented on #1
Greg Crane: Classics and the Computer: An End of the History

This article was a summary about the early usage of IT technology in the field of Classics.
One hardship of “classicsal informatics” in the 1970s was that it was obviously not a priority. Academic technology specialists within the higher education system devoted 1 percent of the gained funding for the IT development in the field of huma

[2020-10-12 10:56] chiaradimaio commented on #1
I would start with the consideration that ‘non progredi est regredi’: of course, this applies to any field of study, for which technological development has proved a huge help and simplification. The conscious use of informatic tools allows researchers to broaden their view, to access, store and compare data in a faster and easier way. I could not agree more with Melissa Terras, saying that ‘Class

[2020-10-12 15:22] nicolealexandra33 commented on #1
Q2- Crane argues that ‘A tiny field such as classics, operating at the margins of the humanities, cannot afford a distinctive and autonomous history of its own. For classicists to make successful use of information technology, they must insinuate themselves within larger groups, making allies of other disciplines and sharing infrastructure’. In other words, he argues (as well as Terras) that in or

[2020-10-12 23:30] ghost commented on #1
Q2: Digital Classics has a more defined focus, I believe, than digital humanities. Digital classics requires the translation of ancient Greek, and the ability to search for and read scrolls, tablets, papyri, or other artifacts in a quicker and more efficient manner. Digital Humanities seems like a broader topic, while Digital Classics is more specific and focused on what they require.

Q3: As some

[2020-10-13 09:45] gabrielbodard commented on #1
@HLBallard re your comment on Q3: the only context in which geo- and similar archaeological technologies are not considered to be digital humanities or digital classics, is when archaeologists argue that these are a core part of their discipline, and therefore do not belong to a separate "digital" subdiscipline (much as we said about not needing a "digital physics" label last week). One could make

[2020-10-13 09:50] gabrielbodard opened #3 "Discussion of Nyhan 2012 & Rosselli 2016"
* Nyhan, J. (2012). “Text encoding and scholarly digital editions”. In _Digital Humanities in Practice_, edited by C. Warwick, M. Terras, J. Nyhan. London: Facet Publishing. Pre-proof available: <https://www.researchgate.net/profile/Julianne_Nyhan/publication/284178309_Text_encoding_and_digital_scholarly_editions/links/564e2b2f08aefe619b0fad83/Text-encoding-and-digital-scholarly-editions.pdf>
* Ro

[2020-10-13 09:53] gabrielbodard opened #4 "Help with Sublime Text and free-form markup exercise"
If you have any technical problems or other difficulties with the exercise for [Session 2](https://github.com/SunoikisisDC/SunoikisisDC-2020-2021/wiki/2-Markup), please feel free to ask it in this thread, and we or your colleagues will try to address it.

[2020-10-14 15:19] LauraHead commented on #3
The Battle We Forgot to Fight: Should We Make a Case for Digital Editions?
Roberto Rosselli Del Turco
•	The ‘Golden age’ of digital pioneering was decade from 1990s-2004, spawning many digital editions, yet actual scholarly uptake of these was low, despite their alleged superiority, due to scepticism of medium. The article seeks to outline how far digital editions have ‘succeeded’ in the decade si

[2020-10-14 15:43] nicolealexandra33 commented on #3
(Q2 and a bit Q4) Rosselli explains in-depth the pros and cons, as well as the fundamental differences between printed editions and digital editions. Because of these differences, he argues that these versions can be and even should be used for to achieve different goals and tasks. One example that Nyhan describes is the ability to cross-reference through large quantities of texts using digitised

[2020-10-17 17:14] chiaradimaio commented on #3
Text encoding and digital scholarly editions, Julianne Nyhan, UCL, 201
This article by Julianne Nyhan is focused on Text Encoding, which is the act of applying metadata (information about information) to a text, in order to make it machine readable. This is regarded as a core research area in the field of digital humanities (and beyond, since Text Encoding has had an influence on the development o

[2020-10-18 22:05] HLBallard44 commented on #3
Roberto Rosselli Del Turco is the author of chapter 12 "The Battle We Forgot to Fight: Should We Make a Case for Digital Editions?" in _Digital Scholarly Editing Theories and Practices._ He is a professor at the Universita Degli Studi di Torino and teaches a Digital Philology course. While Julianne Nyhan is an Associate Professor of Digital Information Studies at University College London and the

[2020-10-19 11:02] despinaborcea commented on #4
Hello!

I have a question with regards to the exercise. When I tried to copy and paste the text into Sublime, I added a header and when I opened the file in the browser it was showing only the header, but not the rest of the text or the root- what can I do to make the text and the root appear in browser view too?

Thank you in advance!

[2020-10-19 11:09] jonathanblaney commented on #4
Hi there.

I wonder if you're mixing up HTML and XML element and that is confusing the browser. You could try -  if you haven't already done this - putting an html element around everything.

Normally with errors like this is a good approach to get the minimum working and then keep adding until you hit the problem. So in your case you've got the header working and I would add a very small amount o

[2020-10-19 11:31] despinaborcea commented on #4
Thank you for your message.
This is the bit I was working on:

<text>
<head>Gallia</head>
est omnis divisa in partes tres, quarum unam incolunt Belgae, aliam Aquitani, tertiam qui ipsorum lingua Celtae, nostra Galli appellantur.
</text>

When I save it as an xml file it does not display the text or the root element, it only shows 'Gallia'. Is there a Sublime viewer that would allow me to see the f

[2020-10-19 12:05] jonathanblaney commented on #4
I don't there is an easy way to view XML in a browser: because you can invent your own elements there is no automatic way for the browser to render any given element. The standard way to do it is to write a stylesheet in a language called XSLT, where you would specify a mapping from XML to HTML, but XSLT takes a bit of time to learn.

For these exercises I would do them either in XML or HTML (or b

[2020-10-19 12:45] despinaborcea commented on #4
Thank you very much for your helpful clarifications - I will try again with Sublime!

[2020-10-19 12:47] jonathanblaney commented on #4
Good luck! Let me know if you have any questions as you go along. Happy to try to help.

[2020-10-20 11:38] gabrielbodard opened #5 "Discussion of Berti 2019 & Filosa 2020"
* Monica Berti (2019). "Historical Fragmentary Texts in the Digital Age." In ed. Berti, _Digital Classical Philology: Ancient Greek and Latin in the Digital Revolution_, pp. 257–276. Available: https://doi.org/10.1515/9783110599572-015
* Martina Filosa & Alessio Sopracasa (2020). "Encoding Byzantine Seals: SigiDoc." In _Proceedings of the 9th Conference of AIUCD (15-17 January, 2020)._ Available:

[2020-10-20 11:51] gabrielbodard opened #6 "Help with EpiDoc and EFES exercise"
If you have any difficulties with either encoding your files in EpiDoc or setting up the EFES platform to view them, please feel free to post in this thread and we (or your colleagues) may be able to help.

[2020-10-21 18:07] HLBallard44 commented on #5
Monica Berti (2019). "Historical Fragmentary Texts in the Digital Age."

- the focus of this article: how the digital revolution has changed the way scholars assess and represent fragmentary texts while "preserving the editorial and philological traditions."
- Digital Classical philology has two challenges:
1. converting printed editions of Greek and Latin sources into digital editions while keepi

[2020-10-23 07:11] nicolealexandra33 commented on #5
Not sure if my Q3 answer is totally correct/sufficient, so please feel free to correct me:
1.	Monica Berti is a digital classist who focuses on the Computational Analysis of Ancient Greek and Latin; one of Alessio Sopracasa’s focuses has been on encoding Byzantine seals, as is Martina Filosa’s
2.	Regarding the digitisation of Greek and Latin texts, Berti emphasises the importance of digitising fra

[2020-10-23 15:46] LauraHead commented on #5
Regarding the suggested q3 and q4, I feel the Berti article in particular highlights the benefits of using a standard schema within a field, so as to allow easy and comprehensive comparison and collation of inscriptions as evidenced in the exemplar projects she provides. This then seems to demonstrate that such digital projects as the Athenaeus example do open up new research avenues by significan

[2020-10-24 10:49] despinaborcea commented on #5
**Q1.** Alessio Sopracasa is a History Faculty member of the University of Paris-Sorbonne and Martina Filosa is based at the University of Cologne, in the Department of Byzantine and Modern Greek Studies. The article is focused on assessing the role of SigiDoc in digitizing Byzantine seals, as well as publications on this subject. The fact that both authors are experts in the field of Byzantine si

[2020-10-24 10:51] despinaborcea commented on #5
I found Hannah's summary comprehensive and for this reason I did not include Berti's article in the answer for the 1st question!

[2020-10-24 17:50] chiaradimaio commented on #5
Both articles show how a digital scholarly approach has implemented knowledge and availability of information about ancient texts. However, there is a crucial difference between the approach a Classicist and a Byzantinist could have towards their subject (as usually happens in non-digital editions). The projects mentioned in Monica Berti’s article focus on largely studied topics, i.e. the fragment

[2020-10-24 19:52] Kiamanx commented on #5
### Martina Filosa & Alessio Sopracasa (2020). "Encoding Byzantine Seals: SigiDoc." In Proceedings of the 9th Conference of AIUCD (15-17 January, 2020)

1. **Alessio Sopracasa** is faculty at the Paris-Sarbonne University and **Martina Filosa** is in the department of Byzantine and Modern
Greek Studies at the University of Cologne. Both are sphragists and have published numerous papers on Byzantin

[2020-10-24 19:53] Kiamanx commented on #5
I tried not to step on anyones toes and also not go on for too long during this. It seems a lot of the points I would have made have already been said but I hope that I have given at least a semi-accurate commentary of this article.

[2020-10-25 12:56] chiaradimaio commented on #6
Dear Gabriel and Irene,
I tried downloading EFES and setting it up, but I keep on getting this error message. Maybe I did not 'unpack the zip' properly: I would be glad if you could tell me exactly which procedure to follow in order to do so. Thank you in advance and sorry for the disturb.
![Screenshot (35)](https://user-images.githubusercontent.com/72555469/97107807-5f66bd80-16c1-11eb-9d1b-9881c4

[2020-10-25 15:51] nicolealexandra33 commented on #6
Hi all,
Sorry but I have been trying to figure out the Java situation for the last few days-- Java doesn't work on either of my browsers, so I was hoping I could download it directly to my GitHub desktop app. Do you know if this is possible and how to do this?
Thanks!

[2020-10-25 16:14] nicolealexandra33 commented on #5
Not sure I can contribute much more since everyone had some really salient points, but Kiarash's Q2 regarding following Byzantine seals before they disappear into private collections is arguably also relevant to Q4 regarding new research questions

[2020-10-26 06:37] IreneVagionakis commented on #6
Unpacking the ZIP:
- ensure that you have downloaded the repository as a ZIP file (and not cloned it or opened it with GitHub Desktop)
- ensure that you have a ZIP extractor software/utility installed on your computer, e.g. WinZip, WinRAR, or [7-Zip](https://www.7-zip.org/)
- find where your downloaded 'EFES-master.zip' file is on your computer (possibly in Downloads?)
- right-click the file and s

[2020-10-26 06:59] IreneVagionakis commented on #6
Java: no, it is not something that can be installed 'inside' GitHub Desktop, but it has to be installed globally on your computer.
- check with the `java -version` command on the Command Line whether Java is already installed on your computer or not
- if not, download the Java Development Kit (JDK) from [here](https://www.oracle.com/java/technologies/javase/javase-jdk8-downloads.html):
   - first

[2020-10-26 11:03] chiaradimaio commented on #5
With regard to Q4, I think that a work such as Sopracasa and Filosa's one could lead to new outcomes for Classicists as well. History of classical scholarship has too often shown more interest in the text itself than in its material vehicles. This has lead to the loss or the deperishment of papiry and manuscripts, of which we only have photographies or diplomatic copies, in the luckiest cases. Enc

[2020-10-26 17:57] HLBallard44 commented on #5
When comparing the two articles, could it be said that Berti focuses more on EFES enhancing the research of philology and papyrology while Filosa and Sopracasa concentrate on material objects with writing and how SigiDoc will aid in analyzing them?
The main thing I noticed between the two articles is the medium they are studying. Most of what we have discussed with EFES, and what Berti discusses i

[2020-10-26 18:03] LauraHead commented on #5
Not sure I have too much more to add to everyone’s observations, but reading others’ responses highlighting the unique challenges that the Byzantine seals project has in terms of dealing with unpublished and iconographic material has clarified why custom schemas have perhaps more value when used in projects that are not already built on a long, non-digitised scholarly tradition, such as philology,

[2020-10-27 09:09] despinaborcea commented on #5
For Q4, I would argue that new technologies, both in these cases, as well as in the sphere of Classics in general would bring in the advantage of accessibility for scholars. Even if a particular project is not concerned with the entirety of a collection of say, papyri, having easy access to all the materials from that collection would enable a classicist to have a broad overview of the material 'c

[2020-10-27 12:19] gabrielbodard opened #7 "Discussion of Kestermont 2016 & Ribary 2020"
* Mike Kestermont & Justin A. Stover. 2016. "The Authorship of the _Historia Augusta_: Two new computational studies." _Bulletin of the Institute of Classical Studies_ 59.2. Pp. 140–157. Available: https://onlinelibrary.wiley.com/doi/epdf/10.1111/j.2041-5370.2016.12043.x
* Marton Ribary & Barbara McGillivray. 2020. “A Corpus Approach to Roman Law Based on Justinian’s Digest.” _Informatics_ 7, 44.

[2020-10-27 12:26] gabrielbodard opened #8 "Questions about Treebanking or Arethusa"
If you have any questions about or technical problems with Treebanking or Arethusa, please feel free to ask them in this thread. We or your colleagues may be able to help.

(Please keep an eye on this thread for questions from others that you may be able to help with too.)

[2020-10-28 15:49] chiaradimaio commented on #7
The article by Stover and Kestemont focuses on the complex attribution of the Historia Augusta (HA), a late historiographical Latin work that covers the period from the reign of Hadrian to the one of Numerian (i.e. 117-284 AD). This collection of biographies is an essential source for some historical periods with a lack of testimonies, but it often shows incoherence and anachronisms that made scho

[2020-10-30 17:54] nicolealexandra33 commented on #7
My general understanding of these two pairs of authors is that generally, one in each pairing is more formally trained in computational sciences and digital humanities, while their counterparts are humanities researchers, trained in a more ‘traditional’ sense: Kestermont is a digital classist who is experienced with coding, while Stover focuses more on classical texts in the more traditional sense

[2020-10-31 13:52] despinaborcea commented on #7
Marton Ribary & Barbara McGillivray. 2020. “A Corpus Approach to Roman Law Based on Justinian’s Digest.” Informatics 7, 44. Available: https://doi.org/10.3390/informatics7040044

In this article, the authors discuss the creation and purpose of a ‘relational database’ of Justinian’s Digest using Python. Having divided the Digest’s sections into groups according to their respective linguistic profil

[2020-11-02 01:24] Kiamanx commented on #7
A little extra background on the authors of these papers.

Justin A. Stover is currently a professor at All Souls College, Oxford. He specialises in Classical tradition, Platonism, Humanism, and Medieval Latin. His publications concern textual reconstruction and Platonic tradition.

Mike Kestermont is an academic researcher at the University of Antwerp, Belgium. He has his own website highlighting

[2020-11-02 14:45] HLBallard44 commented on #7
As for the authors of “A Corpus Approach to Roman Law Based on Justinian’s Digest,” Marton Ribary is currently a research fellow at the University of Surrey. He has an MA in Library and Information Studies, an MA in Philosophy with Classics and Hebrew, and a PhD in Middle Eastern Studies. He has also studied AI and Law at the European University Institute and Digital Humanities at Oxford.
Barbara

[2020-11-02 14:49] HLBallard44 commented on #7
This is just basic background information. Nicole has compared the two sets of authors from each article and discussed their similarities and differences.

[2020-11-02 14:50] gabrielbodard commented on #7
@nicolealexandra33:

This is a good point. Slightly more true for Kestermont-Stover, I think (both McGillivray and Ribary have some technical skills and philological training as well, although the general pattern is as you describe it).

What does this say about the value of collaboration and the skills/skillsets needed for this kind of research?

[2020-11-02 15:27] chiaradimaio commented on #7
One interesting aspect of the articles we are now analyzing could be the fact that both of them focus on  late Latin texts, characterized by a stratification of the material. This makes me think that sometimes the computational approach could be preferrable for those scholars who have to deal with complex challenges in the organization and the trasmission of the texts they are studying. When it co

[2020-11-02 16:01] HLBallard44 commented on #7
Two minds are better than one. When doing research that requires someone to be knowledgable in both ancient texts, or philosophy, or Roman law, etc. and computational skills; it may be prudent to have more than one researcher. A Classicist may have a basic understanding of Digital Humanities/Classics but collaborating with a Digital Classicist or Computational Linguistic will allow them to further

[2020-11-02 16:29] LauraHead commented on #7
To add to everyone’s comments on the benefits of collaborative research partnerships such as the two pairs discussed here, it struck me that some of the difficulties surrounding the introduction of digital methods to Classical scholarship that previous weeks’ reading material has highlighted, find their resolution here. For example, (Rosselli – week 8 I think) discussed the problem of digital rese

[2020-11-03 10:42] gabrielbodard commented on #7
Useful comments on collaborative work. It's worth pointing out that a lot of the projects we have seen (in this session and others) have been joint endeavours, with at least one participant having more hardcore technical skills and computational grounding, and at least one having more profound philological background. This is how I have almost always worked as well (although I fall somewhere betwe

[2020-11-03 12:30] gabrielbodard opened #9 "Discussion of Almas/Beaulieu 2016 & Simon/Vitale 2019"
* Almas B. & Beaulieu M. 2016. "The Perseids Platform: Scholarship for all!" In Romanello M. & Bodard G, _Digital Classics Outside the Echo-Chamber_. Ubiquity Press. Available: https://doi.org/10.5334/bat.j
* Rainer Simon, Valeria Vitale, Rebecca Kahn, Elton Barker & Leif Isaksen. 2019. “Revisiting Linking Early Geospatial Documents with Recogito.” _e-Perimetron_ 14-3, 150–163. Available: http://w

[2020-11-03 15:48] gabrielbodard opened #10 "Help with Recogito/Web Annotation exercise"
If you have any technical questions or other issues with the [Web annotation exercise](https://github.com/SunoikisisDC/SunoikisisDC-2020-2021/wiki/5-Web-Annotation#exercise-1) or the [Recogito](https://recogito.pelagios.org/) platform, you can ask here and we or your colleagues may be able to help.

Also please keep an eye on this issue in case you see any questions that you can help with.

[2020-11-04 10:44] nicolealexandra33 commented on #9
**Rainer Simon, Valeria Vitale, Rebecca Kahn, Elton Barker & Leif Isaksen. 2019. “Revisiting Linking Early Geospatial Documents with Recogito.” e-Perimetron 14-3, 150–163.**
‘Recogito is an open source tool for semantic annotation’ which allows for a great number of applications and techniques for collaboration and is maintained by the Pelagios Network, a ‘non-profit association advocating and ena

[2020-11-06 17:45] gabrielbodard opened #11 "Discussion of Heberlein 2019 & Perry 2015"
* Regine Heberlein (2019). "On the Flipside: Wikidata for Cultural Heritage Metadata through the Example of Numismatic Description." _IFLA WLIC 2019 - Athens, Greece - Libraries: dialogue for change in Session 206 - Art Libraries with Subject Analysis and Access._ Available: http://library.ifla.org/id/eprint/2492
* Sara Perry & Nicole Beale (2015). "The Social Web and Archaeology’s Restructuring:

[2020-11-06 17:49] gabrielbodard opened #12 "Help with Wikipedia/Wikimedia editing and research"
If you have any problems with or questions about your use of Wikipedia or any other Wikimedia components, you may ask them here and we or your colleagues may have suggestions. Please keep an eye on this thread in case you can answer other people's questions too.

[2020-11-07 17:40] HLBallard44 commented on #9
Almas B. & Beaulieu M. "The Perseids Platform: Scholarship for all!"
The authors discuss the benefits of using crowdsourcing as a way to produce large quantities of digital documents, particularly the Perseids platform which allows users of any skill level to attempt annotation and editing work.
Their main target audience for who would benefit from using Perseids is not Classicists but students an

[2020-11-09 11:00] chiaradimaio commented on #9
It can be interesting to notice that both articles draw attention on how these informatic tools could be useful for both specialists and students. Collaboration could be a new, key concept in teaching Classics, creating a stimulating environment in which the student feels encouraged to try and progress autonomously, after having been guided through the process first.

Q3. Text annotation is probab

[2020-11-09 11:06] despinaborcea commented on #9
1.	Background
Bridget Almas is a software developer and project manager for Perseus Digital Library. While she has a background in modern foreign languages, she is not a Classicist _per se_. Marie-Claire Beaulieu is an Associate Professor in Classical Studies at the Tufts University. She has a strong interest in both Ancient Greek Religion, as well as Digital Humanities. As such, she co-directs th

[2020-11-09 15:50] nicolealexandra33 commented on #9
Just a general comment after having done the Recogito activity-- I appreciate the user-friendliness of the software as intended by the authors/creators

[2020-11-09 16:53] LauraHead commented on #9
Regarding Q2, I think the Simon/Vitale/Kahn/Barker/Isaksen article really adds to the ongoing thread through this programme dealing with the idea of resistance to digital humanities techniques within the discipline. The idea that Recogito, as Chiara has mentioned, is intended particularly to be accessible as a method of exposure to and training in digital projects for students as well as establish

[2020-11-10 00:48] HLBallard44 commented on #9
I concur with everything that Laura has stated. Training the next generation with Recogito (and other opensource platforms) will allow them to be more open with digital humanities than the current generation. Even if a student will not proceed with a career specifically in Digital Classics/Humanities, having the basic discipline that Recogito provides will allow them to further their research or v

[2020-11-10 10:54] gabrielbodard commented on #9
Gratified by all the love for Recogito (which is a tool I also find very valuable) but I want to unpick a little the question of convincing classicists/philologists with its user-friendliness. What exactly are classicists being convinced to do or adopt by using an easy interface like this? What traditional/classical research agenda is annotation in Recogito contributing to? Is there a danger that

[2020-11-12 10:06] nicolealexandra33 commented on #11
**Sara Perry & Nicole Beale (2015). "The Social Web and Archaeology’s Restructuring: Impact, Exploitation, Disciplinary Change." Open Archaeology 1.1.**
Discussions about archaeology frequently intersect with those of heritage discourse, community, indigenous topics, socio-political movements, feminist and public archaeologies. For this reason, archaeologists often work in teams of people from dif

[2020-11-13 10:27] chiaradimaio commented on #12
Dear all,
I tried editing on Wikipedia, but I get this error message:

Your username or IP address is blocked from doing this. You may still be able to do other things on this site, such as editing certain pages. You can view the full block details at account contributions. The IP address that you are currently using has been blocked because it is believed to be a web host provider.

It seems that

[2020-11-13 12:00] gabrielbodard commented on #12
Hi @chiaradimaio, were you able to edit before (to make the ten small edits we discussed)? Was that on a different network connection? (I've also passed this query to Richard, in case he has any suggestions.)

[2020-11-13 15:04] RichardNevell commented on #12
@chiaradimaio  Would you be able to share the username you're using on Wikipedia? That way I should be able to check if you're affected by any blocks. It sounds like a network issue, in which case it should be possible to tweak some settings on your account.

[2020-11-13 18:09] chiaradimaio commented on #12
Dear Gabriel and Richard,
I tried accessing my account from a different network (in Italy) and this solved the issue: after that, I logged in again from the UK and it is now working. Sorry for the inconvenience and thank you for your help. I will let you know in case it should occur again, after I log out this session.

[2020-11-13 18:40] LauraHead commented on #11
On the Flipside: Wikidata for Cultural Heritage Metadata through the Example of Numismatic Description, Regine Heberlein 2019

•	The article seeks to evaluate how the use of WikiData can be modelled through a project at Princeton University using the example of numismatics data
•	Heberlein outlines advantages of Wikidata: cross-disciplinary potential, intuitive interface, quick response time, mult

[2020-11-13 18:56] RichardNevell commented on #12
Good to hear, I'm just glad it got solved!

[2020-11-16 09:49] despinaborcea commented on #11
With regards to the question of open licensed data and publications, as pointed in "On the Flipside: Wikidata for Cultural Heritage Metadata through the Example of Numismatic Description", one of the disadvantages of Wikidata is that, while it is easily accessible, it can also be easily edited by anyone without respecting the rigorous criteria established by the academic tradition in that field. B

[2020-11-17 01:18] Kiamanx commented on #11
The idea of 'cognitive capitalism' explored in Parry & Beale is fascinating. Unfortunately it is ultimately true for Wikipedia, with people not receiving any accolades or even much recognition for their large contributions in keeping the main site as helpful for the average user as possible. Though the main philosophy of the site is free information curated for free so everyone can access it. It c

[2020-11-17 02:05] HLBallard44 commented on #11
As someone who has a Bachelors's in archaeology and has worked both in the field and in an archaeology lab, I can attest to Sara Perry & Nicole Beale's article "The Social Web and Archaeology’s Restructuring: Impact, Exploitation, Disciplinary Change." While working in an archaeology lab, I cataloged records of archaeological digs. The majority of these archives are paper and housed in folders in

[2020-11-17 02:15] HLBallard44 commented on #11
Another thing to add:
Most of the time, someone will be asked if they want to work on an archaeology dig through word of mouth. An archaeologist you had previously worked for may suggest you to another archaeologist who just started a dig. There are not a lot of archaeology jobs posted on Linked.in or indeed.

[2020-11-17 10:08] nicolealexandra33 commented on #11
Regarding the cognitive capitalism trend, I also wonder how it impacts all sectors, not just the digital humanities, especially now as almost everyone is working remotely. While it's great you save time/energy/fuel by not commuting, I think there will definitely be some managers/companies who will value workers based on how much overtime they are willing to put in without extra benefit especially

[2020-11-17 11:18] HLBallard44 commented on #12
https://en.wikipedia.org/wiki/Kommos_(Crete)

[2020-11-17 11:20] nicolealexandra33 commented on #12
https://en.wikipedia.org/wiki/Greek_Magical_Papyri
And Despina worked more on: https://en.wikipedia.org/wiki/Ovid#Overview

[2020-11-17 12:22] gabrielbodard opened #13 "Discussion of Dell’Oro 2020 & Vierros 2018"
* Francesca Dell'Oro, Helena Bermúdez Sabel & Paola Marongiu. 2020. “Implemented to Be Shared: the WoPoss Annotation of Semantic Modality in a Latin Diachronic Corpus.” _Sharing the Experience: Workflows for the Digital Humanities. Proceedings of the DARIAH-CH Workshop 2019_. Available: https://zenodo.org/record/3739440#.XzqoTZMzZTZ
* Vierros, M. 2018. “Linguistic Annotation of the Digital Papyrol

[2020-11-17 12:35] gabrielbodard opened #14 "Help with Paratypa, Iliados or automated annotation exercises"
There are two alternate exercises offered in the [Using Treebanks session](https://github.com/SunoikisisDC/SunoikisisDC-2020-2021/wiki/7-Using-Treebanks), one with the [Paratypa](https://papygreek.hum.helsinki.fi/variations) tool, described in the YouTube video, and one with [Iliados](http://www.iliados.com/), for which documentation has been provided. There is also an optional advanced exercise u

[2020-11-20 16:34] chiaradimaio commented on #13
The article by Francesca Dell'Oro describes the project called A World of Possibilities [WoPoss], aimed at tracking the evolution of modal meanings in the Latin language.

The writer explains how this analysis is carried out towards three steps:

1) Modals meaning 'necessity', 'possibility' and 'volition' in Latin are first collected from a diachronic corpus that ranges from 3rd century BCE to 7th

[2020-11-21 01:58] HLBallard44 commented on #13
Vierros, M. “Linguistic Annotation of the Digital Papyrological Corpus: Sematia.”
This article focuses on a developing digital papyrological corpus called Sematia and its selected approach.

Corpus Design
- Corpora in historical linguistics is usually concerned with how languages have developed and evolved through time. Sematia will be open-ended and include a corpus of Greek used in documentary p

[2020-11-22 15:08] nicolealexandra33 commented on #13
It would be interesting to see how Sematia does with the PGM especially as multiple languages are used (although as I understand it, Latin and Greek are currently the ones that the software can process). It could maybe help determine which spells were also translated or taken from another linguistic tradition despite the entry being in a different language

[2020-11-23 11:55] chiaradimaio commented on #13
With regard to the background of the authors, it is worth saying that Francesca dell'Oro is currently teaching linguistics, but has a background as a classical philologist, while Marja Vierros is a classical philologist and a papyrologist. Both of them are mainly interested in the historical  and developmental aspect of ancient languages. Their tools are highly customized and specialised, but they

[2020-11-29 19:02] gabrielbodard opened #15 "Discussion of Yousef 2019 & Pataridze 2018"
Please discuss the following readings in this thread:

* Tariq Yousef (2019), "Ugarit: Translation Alignment Visualization". LEVIA’19: Leipzig Symposium on Visualization in Applications 2019. Leipzig. Available: https://osf.io/thsp5.
* Tamara Pataridze & Bastien Kindt (2018). "Text Alignment in Ancient Greek and Georgian: A Case-Study on the First Homily of Gregory of Nazianzus." _Journal of Data

[2020-11-29 19:05] gabrielbodard opened #16 "Technical help with Ugarit translation alignment exercise"
If you have any technical issues with the Ugarit exercise in week 8 of this semester, please use this forum to ask for advice. (And keep an eye on this thread in case you can help your colleagues with anything they ask.)

[2020-11-29 19:53] gabrielbodard opened #17 "Discussion of Drucker 2011 & Glinka 2017"
* Johanna Drucker, “Humanities Approaches to Graphical Display”, *Digital Humanities Quarterly* 5.1, 2011, http://www.digitalhumanities.org/dhq/vol/5/1/000091/000091.html.
* Katrin Glinka, Pietsch C. and Dörk M., “Past Visions and Reconciling Views: Visualizing Time, Texture and Themes in Cultural Collections”, *Digital Humanities Quarterly* 11, 2017. Available: http://digitalhumanities.org/dhq/vo

[2020-11-29 19:55] gabrielbodard opened #18 "Technical help with visualisation exercise"
If you have any issues with the visualisation exercise in [Session 9](https://github.com/SunoikisisDC/SunoikisisDC-2020-2021/wiki/9-Visualisation), Voyant, Tableau or RawGraphs, please use this thread to ask for help, and we or your colleagues may be able to offer advice.

[2020-11-29 23:22] Kiamanx commented on #15
**Tariq Yousef (2019), "Ugarit: Translation Alignment Visualization". LEVIA’19: Leipzig Symposium on Visualization in Applications 2019.**
This article is an introduction to Ugarit, a browser based program that is used for dual translation alignment for parallel texts.

_Intro_
A status quo is established regarding Bilingual text alignment. The introduction states that manual text alignment will p

[2020-11-30 07:57] despinaborcea commented on #15
Tamara Pataridze & Bastien Kindt (2018). "Text Alignment in Ancient Greek and Georgian: A Case-Study on the First Homily of Gregory of Nazianzus." Journal of Data Mining and Digital Humanities. Available: https://jdmdh.episciences.org/4182/pdf

In this article, the authors set out to analyse linguistic and translational aspects which arise from the alignment of lemmatised bitext of the Gregory of

[2020-11-30 11:15] nicolealexandra33 commented on #15
It would be interesting to see how text alignments would work with poetry or songs rather than prose because direct translations aren't necessarily found as it would not fit the meter. When you have more metaphorical translations than direct ones, I wonder how that might change the lexicon or dictionary-- it might be worth adding in a separate category for these translations

[2020-11-30 17:34] LauraHead commented on #15
Regarding the article on the Ugarit tool, I think the idea of potentially developing roles for content providers as has been mentioned – ‘instructor’, ‘student’ etc  - is interesting in terms of the discussion of the reliability of Wikidata sources from previous weeks. The creator of the tool would be circumventing some of the problems of community editing and reliance on policing by consensus wit

[2020-12-01 03:15] HLBallard44 commented on #15
Would there be any downfalls to developing different user roles in other crowdsourcing platforms? Going off of Laura's comment, I believe creating different user roles would help differentiate data input and provide greater accuracy for information. At this point, I cannot think of a downside to this idea, but I am curious about other's opinions?

[2020-12-01 10:10] despinaborcea commented on #15
I agree with Hannah - I cannot see any general downsides, just two general ideas that I believe are applicable to any field of research. I am thinking of one of the points made about voluntary contributions on Wikipedia which would apply here too and concerns financial matters (this, of course, depends on the crowdsourcing platform): how could user roles be assigned and financially compensated fai

[2020-12-01 10:48] gabrielbodard commented on #15
* Who decides who is more vs less reliable as a contributor?
* Do we have to eliminate anonymous/pseudonymous contributors for this to work?
* What about people who don't fit into either category (teacher/student/academic/expert…)?
* How do we flag edits by different categories of contributor for transparency for the reader?
* Would lower status contributors be disincentivised from participating?

[2020-12-01 10:58] HLBallard44 commented on #15
Continuing off Despina's point about voluntary contributions, crowdsourcing platforms rely on what is essentially deemed "free labor." This was also discussed in Perry & Beale's article "The Social Web and Archaeology’s Restructuring." Wikimedia, Recogito, and Ugarit depend on the community to use their computational technology to obtain more data. Scholars who are more knowledgeable in the field

[2020-12-01 16:35] Kiamanx commented on #15
While working on this I was sure my basic level Pahlavi would not yield 100% accurate results, which they didn't. While the vast majority of it (I believe) was accurate but I feel like something as access-friendly as this site needs... no... **requires** a peer review system from others like Wikipedia.

[2020-12-02 16:49] LauraHead commented on #17
Glinka K., Pietsch C. and Dörk M., “Past Visions and Reconciling Views: Visualizing Time, Texture and Themes in Cultural Collections”, Digital Humanities Quarterly 11, 2017.

•	The authors present a case study involving the ‘close-viewing’ and ‘distant viewing’ of art heritage to demonstrate the potential impact of visualisation technology on cultural engagement projects
•	They outline prior work

[2020-12-04 10:41] annaszajbely commented on #17
Johanna Drucker, “Humanities Approaches to Graphical Display”, Digital Humanities Quarterly 5.1, 2011

Johanna Drucker's aim is to encourage humanists to  rethink graphical displays of data. IN her conclusion she claims herself that the essay is a “polemical call to humanists to think differently about the graphical expressions in use in digital environments. A fundamental prejudice, I suggest, is

[2020-12-04 11:03] nicolealexandra33 commented on #17
Not to be cliche again, but I think these discussions are particularly relevant when discussing the Cult of Mithras, as there is so much material attributed to the Cult, yet a lot of the examples which at a micro level can be disputed, or have a lot of 'marginal' examples and variations (ex.: provincial versus 'Roman'). Obviously if one attempted to represent these examples visually, the graphs (o

[2020-12-07 01:32] HLBallard44 commented on #17
While reading Glinka, Pietsch, and Dörk's article "Past Visions and Reconciling Views: Visualizing Time, Texture, and Themes in Cultural Collections," I compared my experience of viewing museum artifacts digitally and uploading artifact information onto a museum's collections management system. Recently, I viewed an artifact on the National Geographic website that was three-dimensional. Meaning I

[2020-12-07 10:31] annaszajbely commented on #17
Well, I think you are right, like watching an artefact on any online platform is never going to be the same, even reading in an online platform is not as "good" as reading an actual book in my opinion. But I think if you are a researcher, then it is not enough anyway if you just go to the museum and look at it like visitors do, then you have to apply for the artefact's 'study leave', if it is exhi

[2020-12-07 11:17] despinaborcea commented on #17
I certainly agree with Anna's point about art - I think in-person visualisation of the art is crucial to the understanding of it/decision to purchase it etc. I also think it's true that visitors will not agree with the online version only. However, to build up on that in a different direction, there is a conception that could be detrimental to the preservation of the art/archaeological/other forms

[2020-12-08 02:37] Kiamanx commented on #17
I'm super biased so I'm going to expand on Nicole's point about Mithras. There really have not been many accurate visualisations of the Mithraic sites because for some reason the people quantifying the info leave out some of the more minor sites while arbitrarily incorporating others. It seems the key of the visualisations really depends on who is doing them.

[2020-12-08 10:25] nicolealexandra33 commented on #17
@Kiamanx Agreed! I think the best way to do it would be if some persistent person basically made a map with multiple layers to represent the multiple criteria of limiting 'Mithraic finds'. Based on the geographic spread, there may be a possibility to prove which of these criteria is most likely. However, you obviously need to be critical the entire way, and I can imagine that the whole process wil

[2020-12-08 11:00] gabrielbodard commented on #17
@nicolealexandra33 @Kiamanx: I'm interested in talking more about Mithras some time, but for the purposes of the current discussion the important thing to take away is that (1) yes the effectiveness and accuracy of a visualisation is 99% dependent on the quality of the data you feed into it (data preparation is > 60% of any digital research); and (2) every visualisation is the result of the method

[2021-01-11 18:08] #1 closed, assigned to gabrielbodard

[2021-01-11 18:08] #2 closed, assigned to gabrielbodard, monberti

[2021-01-11 18:08] #3 closed, assigned to gabrielbodard

[2021-01-11 18:08] #4 closed, assigned to gabrielbodard, ctupman, jonathanblaney

[2021-01-11 18:08] #5 closed, assigned to gabrielbodard

[2021-01-11 18:08] #6 closed, assigned to gabrielbodard, IreneVagionakis

[2021-01-11 18:08] #7 closed, assigned to gabrielbodard

[2021-01-11 18:08] #8 closed, assigned to gabrielbodard, polinayordanova, marjavierros

[2021-01-11 18:08] #9 closed, assigned to gabrielbodard

[2021-01-11 18:08] #10 closed, assigned to gabrielbodard, monberti, valeriavitale

[2021-01-11 18:08] #11 closed, assigned to gabrielbodard

[2021-01-11 18:08] #12 closed, assigned to gabrielbodard, monberti, RichardNevell

[2021-01-11 18:08] #13 closed, assigned to gabrielbodard

[2021-01-11 18:08] #14 closed, assigned to gabrielbodard, francescomambrini, HelenaSabel, polinayordanova, marjavierros, FrancescaDellOro

[2021-01-11 18:08] #15 closed, assigned to gabrielbodard

[2021-01-11 18:08] #16 closed, assigned to gabrielbodard, monberti, polinayordanova, ChiaraPalladino

[2021-01-11 18:08] #17 closed, assigned to gabrielbodard

[2021-01-11 18:08] #18 closed, assigned to gabrielbodard, aurelberra, monberti, naomiwells85

[2021-01-11 18:12] gabrielbodard opened #19 "Discussion of session 1 readings: Sengoku 2017 & Tanasi 2019"
Please discuss the following two readings in this forum thread:

* K. Sengoku-Haga, 2017. "Polykleitos and his followers at work: how the Doryphoros was used." In J. M. Daehner et al. _Artistry in Bronze: the Greeks and their Legacy_. LA: Getty Conservation Institute. Available: http://www.getty.edu/publications/artistryinbronze/the-artist/10-haga-et-al/
* Davide Tanasi. 2019. "Best Practices for

[2021-01-11 18:16] gabrielbodard opened #20 "Technical help with photogrammetry exercise"
If you have any technical problems with installation, use of software, formats, saving files, or anything else that is preventing you from getting on with the photogrammetry exercise or use of Agisoft Metashape trial version, you may ask questions here and we or your colleagues may be able to suggest something. Please keep an eye on this thread in case other students have a problem that you alread

[2021-01-18 16:07] gabrielbodard opened #21 "Discussion of session 2 readings: Aucott 2019 & Hammond 2018"
Please discuss the two following readings in this thread:

* Paula Aucott & Humphrey Southall. 2019. “Locating Past Places in Britain: Creating and Evaluating the GB1900 Gazetteer.” _International Journal of Humanities and Arts Computing_ 13.1-2, 69–94. Available: http://doi.org/10.3366/ijhac.2019.0232
* L. Hammond & S. El Rashidi. 2018. “'Layers of London' - A Rich Geographical Palimpsest.” _Geog

[2021-01-18 16:09] gabrielbodard opened #22 "Technical help with community mapping exercise"
If you have any technical problems or other issues with the Layers of London exercise, please ask questions and share error messages etc. here. Please keep an eye on this thread in case any of your colleagues have issues that you have already dealt with.

[2021-01-20 18:40] Jessamyn-kcl commented on #19
The Sengoku-Haga article deals with identifying the sculptors of Greek sculpture from the Classical period: specifically whether the Doryphoros is the Polyklietan Canon figure that would form the base model for statues created by him and his disciples going forward, as this is a topic still very much under debate.

-	They examine four statues attributed to Polykleitos using colour mapping to exami

[2021-01-21 17:41] K-Doering commented on #20
If anyone has a Mac: Metashape may not open automatically because it is not an App Store app or from an 'identified developer' so you will have to manually override.

Here is a link that shows you how: https://support.apple.com/en-us/HT202491

[2021-01-21 18:53] FabioDFernandes commented on #19
Hello all,

I will offer my brief summary of the Tanasi reading below, which, at least in my case, made a lot more sense in terms of its technical nature following the live Sunoikisis session. I personally found it really interesting to learn how 3D imaging is being used in areas as large as that discussed, for the sake of better documentation, preservation, teaching and to better facilitate study

[2021-01-21 19:24] kemcclin commented on #20
@K-Doering - thanks for posting that!

[2021-01-22 07:33] PAZHames commented on #19
@Jessamyn-kcl 'in previous classes on classical art, statues being over life-size has often been attributed to them being divine figures, without considering how the casting method might impact this.'

This is so true, I found this really helpful! I also have a question on this which may be pretty layman, so I apologise!

At the beginning of the article, Sengoku-Haga notes that most of the scans w

[2021-01-22 08:59] PAZHames commented on #19
On the Tanasi, I was quite interested in the involvement of the Pontifical Commission for Sacred Archaeology. In many ways they enabled the exploration of the Catacombs of St. Lucy, but reference is made to certain artefacts being left in their find spot, due to a call made by the PCSA. I thought this was quite an interesting tousle - between prioritising religious respect and research development

[2021-01-22 09:03] PAZHames commented on #19
Also re the Pontifical Commission for Sacred Archaeology, their mission statement as of 1852 is "to look after the ancient cemeteries, to conserve, explore, study and care for the memories of the first Christians, their monuments and the venerable Basilicas in Rome and on Roman soil together with the Ordinaries in other Dioceses,” (http://www.cultura.va/content/cultura/en/collegamenti/archeologia-

[2021-01-22 11:12] Jessamyn-kcl commented on #19
No need to apologise! :)
Plaster casts are remarkably accurate! it’s a method we still use a lot today (though we tend to cast the whole object, to avoid the inaccuracies of joining different parts together as mentioned in the article). There might be a little bit of shrinkage, but nowhere near as much as casting in clay or something like that. The museum of classical archaeology in Cambridge is e

[2021-01-22 13:04] ChantalvanEgdom commented on #19
@Jessamyn-kcl Great overview Jessamyn! I really appreciate the way that this method can remove a large chunk of subjectivity when it comes to assigning pieces to different artists (as in the case with the assumption that the facial features of the Diadumenos being softer than those of the Doryphoros). I do however wonder about what Sengoku-Haga mentioned at the end of the discussion regarding the

[2021-01-22 13:09] Jessamyn-kcl commented on #19
Not sure about this either - I think display context would probably come into it for pieces displayed on plinths/high up on buildings?

[2021-01-22 13:11] ChantalvanEgdom commented on #19
Ah that would make sense!

[2021-01-22 13:26] FabioDFernandes commented on #19
I'd suppose it very much depends where the line is drawn between religious heritage still in use and religious heritage that is considered only now for its historical value and no longer of spiritual significance. We won't go into a cemetery and dig up people there from even the past few hundred years, but Egyptian mummies don't seem to be subject to those same morals. So, I would imagine that hav

[2021-01-22 13:38] FabioDFernandes commented on #19
Just a small thought. Beyond the scope of individual masters and their works of art, I also wonder to what extent the implication could be made that plaster casts might have been used by workshops for 'mass production' of renowned works of art (though not in an anachronistic industrial sense), especially in the later tradition of Roman copies.

[2021-01-22 14:24] PAZHames commented on #20
@K-Doering thanks, so helpful!

[2021-01-22 14:39] ChantalvanEgdom commented on #19
I think you hit the nail on the head with this

[2021-01-22 16:36] ChantalvanEgdom commented on #20
Hi! It's taken some time but I finally have a good looking model, however when I export it as a model and then try to open the file, the whole thing only appears in shape but not with its colours. Anyone know how to fix that?

[2021-01-22 16:59] Al-scw commented on #20
When you're exporting as an OBJ file, make sure you keep the MTL and JPG in the same folder. Depending on which program you open it in, it will either open the texture (colour) automatically (programs such as Meshlab and Meshmixer), or you will have to import the JPG separately (such as in Blender).

[2021-01-22 17:03] ChantalvanEgdom commented on #20
Thank you! I have been opening it with my windows 3D viewer which doesn't let me add the JPG, but I will try installing one of the programs you mentioned. Thank you!

[2021-01-22 17:06] ChantalvanEgdom commented on #20
I've tried it in Meshlab and I still have the same issue, no colours at all... Anyone know what I might be doing wrong?

[2021-01-22 17:11] kemcclin commented on #20
@ChantalvanEgdom - When you export your model from Metashape, what file types do you see?

[2021-01-22 17:13] ChantalvanEgdom commented on #20
@kemcclin I see JPEG, PNG, TIFF and EXR for texture

[2021-01-22 18:12] gabrielbodard commented on #20
@ChantalvanEgdom: I'm very pleased to see you have a good model from your photogrammetry exercise. Strictly speaking, it's not absolutely essential for the purpose of this exercise to have the exported file and texture linked together and viewable in a third-party tool (although I don't want to stop you from working on getting that working if you're very keen to!). The point of this exercise was t

[2021-01-22 18:18] ChantalvanEgdom commented on #20
@gabrielbodard Thank you! I will let it go for now then as it's starting to get a bit frustrating but might give it another go in a few days!

[2021-01-24 14:50] K-Doering commented on #19
Thank you for this summary and insight, Jessamyn!

In line with what you say about the article's address of material properties and manufacturing processes, I found it quite interesting that models may have been available or used by those also in the workshops of the named artisans we know today. The use of color mapping in replication is certainly a valuable technology in comparing evolving techn

[2021-01-24 15:04] K-Doering commented on #19
To add, I also think established, contemporary leadership for the religion is quite important. Because this study was undertaken in Italy regarding Catholic burials I do think it would be possible to undertake the project without permission from a Church entity or the Church itself. It would be hard to imagine the same practice wouldn't be undertaken for Egyptian burials if the Egyptian priesthood

[2021-01-24 15:33] FabioDFernandes commented on #19
Kéyah - yes, that's another way of considering it. I imagine that it is in the interest of the Church now to study its heritage from antiquity and understand its very early past (they do open up their sites to archaeological/historical enquiry as it is) in a way that is respectful and as you put it, does not 'disturb' anything. To leave sensitive elements as they are and study them at a distance c

[2021-01-24 17:02] FabioDFernandes commented on #20
For those of us who have already done so, how long has it taken for our models to process? In my case, it gets longer and longer and doesn't progress very quickly, so I don't know if I have too many photos, I think I might (92!).

[2021-01-24 17:06] ChantalvanEgdom commented on #20
I had 139 photos and first that took way too long (kept saying it would take an hour and a half after 2 hours had already passed), so I did it again, with the same photos, however now everything set to "low" (accuracy, quality, etc) and after that it only took about 15 min per model, some even less!

[2021-01-24 17:08] FabioDFernandes commented on #20
Oh, right, that makes sense. Thanks!! Will try that out now - was convinced this might take forever aha.

[2021-01-24 20:14] bertugkiymaz commented on #20
Hey all,  I just finished my first two photogrammetry modelling projects, first one is a small egg-and-dart ornament from belevi mausoleum from seleucids , second one is a replica coinage. I've used metashape trial version before that I experimented with meshroom which is free version from same company. I can easily say metashape is much faster and better than meshroom and certainly will worth the

[2021-01-25 21:15] despinaborcea commented on #19
To build on a side note mentioned by Fabio in his summary on Davide Tanasi's article, apart from the advantages of 3D imaging and modelling techniques applied to the Catacombs of St. Lucy, the point-cloud of the Basilica of Domitilla and the catacomb beneath it struck me as particularly useful in terms of visualisation. The layered concentration of archaeological material in Rome in general is imp

[2021-01-26 10:47] gabrielbodard commented on #20
@bertugkiymaz the textured surface is a good idea (I often use a newspaper or similar), but as with other surfaces or background on your photographs, you may have to crop it from the 3D model before you export it. There are simple editing functions in Metashape (best to search in help or look for tutorials on YouTube), but I've found Meshmixer or other dedicated 3D editing tools easier to use. Goo

[2021-01-27 08:29] PAZHames commented on #21
Hello all! If possible, I will bump this comment down when the summaries are in. I had a specific query on Aucott and Southall. In the 'Discussion' section it states that 'Of course, a true spinal gazetteer is inherently untyped as it is concerned not
with features but with a more abstract notion of ‘place’. I am a little confused as to how this can work? Surely as a gazeteer it cannot be purely c

[2021-01-27 08:31] PAZHames commented on #19
This was so useful, thanks so much for clearing this up for me!

[2021-01-27 12:57] gabrielbodard opened #23 "Discussion of session 3 readings: Rodríguez 2019 & Stinson 2018"
Please discuss the two following papers in this thread:

* Nuria Rodríguez-Ortega. 2019. "Canon, Value, and Cultural Heritage: New Processes of Assigning Value in the Postdigital Realm." _Multimodal Technologies and Interaction_ 2.2, 25. Available: https://www.mdpi.com/2414-4088/2/2/25
* Alexander Stinson, Sandra Fauconnier & Liam Wyatt. 2018. “Stepping Beyond Libraries: The Changing Orientation i

[2021-01-27 13:01] gabrielbodard opened #24 "Issues with Wikipedia editing exercise"
If you have any questions, problems or other issues with the creation of your Wikipedia account and profile page, with editing articles or working with the Wikipedia community, or just want to share progress, links, screenshots, or discussion about editing, please feel free to post questions and comments here. Please keep an eye on the thread in case any of your colleagues have issues that you mig

[2021-01-27 13:19] gabrielbodard commented on #21
@PAZHames I guess what they mean is that in their proposed ideal gazetteer (and GB1900 for instance) doesn't distinguish between types of places—in part because they merge references to close places that share a name and are not easily distinguished by non-specialists. So rather than say place 1 is a city, 2 is a borough, 3 is a region, 4 is a street, 5 is an ancient ruin, etc., it simply says the

[2021-01-28 14:31] PAZHames commented on #21
oh, I understand! I was most definitely getting my terminology in a scramble - thanks, Gabby!

[2021-01-28 19:56] despinaborcea commented on #21
Aucott and Humphrey’s article describes the creation of the GB1900 gazetteer as a result of the homonymous project. The authors divide the corpus of the discussion in 5 parts to discuss the creation, usefulness and potential of GB1900 as the most detailed historical gazetteer of Britain. I summarise each section in the bullet points below:

•	**Creating the historical record of British place names

[2021-01-30 11:55] RebeccaKimberlin commented on #21
Hammond and El Rashidii's article examines the Heritage Lottery-funded project 'Layers of London' as a tool for expanding students' ways of thinking and approaches within geography education. They consider the meaning of 'place' and the relationship within that definition between location, landscape and meaning, and emphasise the intertwined relationship between people and places, that they do not

[2021-01-30 11:56] K-Doering commented on #21
Thank you Despina for this summary!

The idea of separating the sense of 'place' from pure data was something I hadn't thought about before. This made me think of [Urban Archive](https://www.urbanarchive.org/cities/nyc) which the museum I work for uses to show how locations have changed over time. All to say, the human aspect and sense of place is more closely related to what is there (or was ther

[2021-01-30 16:35] ChantalvanEgdom commented on #21
Great summary, Rebecca! I found this article very thought provoking and it reminded me of the modern literary ideas on experiences places (flâneur/alienation/fragmentation) and how these different perspectives can affect the way that places are regarded. I especially liked they flagged the way in which art, literature and pictures (on social media) can expand the range of perspectives on places an

[2021-01-30 17:04] ChantalvanEgdom commented on #21
Interesting point raised, Kéyah! I agree that the voluntary additions can create an unreliable dimension to the project, which is a shame, but it can also add that level of personal experience that really makes a space into a place (as argued for in the Hammond and El Rashidi article). I think depending on the intention of the gazetteer you'd make a choice as to what takes precedence in the projec

[2021-01-31 13:26] FabioDFernandes commented on #21
Thank you Despina for the summary on of the article about the GB1900 gazetteer. Looking at the actual map myself, I found it quite interesting to see my own neighbourhood - the area was a lot smaller (surrounded by a lot of rural land even in the late 1800s), but the names of the streets have remained quite consistent, though there quite a few names around of areas which I do not recognise at all.

[2021-01-31 13:36] FabioDFernandes commented on #21
Thank you also, Rebecca, for your summary. I found the article interesting, in that it made it especially more clear to me what the purpose of Layers of London is - on a practical but even on a somewhat philosophical level. London, as with most large historic cities, is a city of layers. Even if a locale has not changed much on the surface, it is always interesting to be able to track its evolutio

[2021-01-31 13:41] PAZHames commented on #21
Thanks so much for these summaries, both! They're really excellent. @FabioDFernandes re your point about how personal accounts might be regulated  - I would also be really interested to know how this was achieved. But isn't subjectivity also slightly the point? As long as those elements of the data are clearly flagged as personal memories, when considering the emotional impact of place, it seems t

[2021-01-31 14:02] FabioDFernandes commented on #21
Thank you Phoebe, you make a really, really good point which I had honestly not considered! I suppose there is a paradox to some extent here - there is both, I guess, textbook history, but then indeed also the way people have interpreted things and interacted with them too, in various ways, which is just as important and which we can't just invalidate from people and history. Societies, perhaps pa

[2021-01-31 16:28] Jessamyn-kcl commented on #21
"but then again, there are also 'official' names and 'local' names used by uniquely by inhabitants which may be loaded with emotional and cultural implications - they are also just as valuable in the study of societies and local histories. Whether regulation is needed in these contexts, a good question - I suppose as you have said, to distinguish between personal accounts and more official data wo

[2021-01-31 16:35] Jessamyn-kcl commented on #21
Thanks for the summaries Rebecca and Despina!

I particularly enjoyed the Hammond/El Rashidi article, but I think both put an really interesting emphasis on accessibility: be that through making the site open to contributions from the public, or by encouraging students to engage with historical learning and contextualise it against their understanding of the modern space too. I think Hammond/El Ra

[2021-01-31 19:37] K-Doering commented on #21
Thank you all for your insights on the issue of personalization and 'official' versus 'unofficial' data. I agree that distinguishing the two types of data would be a good compromise. Yes, the inclusion of personal stories and interpretation of place is extremely valuable and we wouldn't want to lose it. Certainly a nuanced question. I appreciate this discussion!

[2021-02-01 11:14] RebeccaKimberlin commented on #21
Yes definitely, I think highlighting the importance of accessibility makes sure that a space is thought of as the collective manifestation of 'unofficial' data of people's stories and memories, as well as its physical history. I would also add that the discussion of 'official' and 'unofficial' data could be seen to overlap with the aims of the field of memory studies, in how physical places contri

[2021-02-01 11:21] PAZHames commented on #21
This is so interesting! I hadn't thought of it through that lens, but love the idea of its use as a resource for studying collective societal memory over time. Do we think there is any way in which the project might be helped further in that direction? (Without losing its primary focus)

[2021-02-01 17:31] gabrielbodard commented on #21
I love the way this discussion has touched on the complexities of official versus personal history, reliability, verifiability, academic credibility, and also immediacy, relevance, different types of history. I was going to ask if we could consider personal reactions to places as _primary source_ data (rather than writing about history by scholars), but I think you've already said everything I wou

[2021-02-01 18:01] despinaborcea commented on #21
To echo Fabio in a slightly different direction, 'defining' or 'understanding' a place through a map is heavily influenced by the cartographic aim of a project/individual. The Layers of London exercise could be an example - we had different filters for our searches (classical elements and winged figures/angels) and we found overlapping monuments which match both. This made me think of the 'layers'

[2021-02-01 22:34] Kiamanx commented on #21
Excellent summaries!
I thought I would return to this once I had completed my own Layer of London to approach with a fresh perspective. Expanding on Despina's point, I'd say that Layers of London definitely appeals to a sense of personal history that resonates with a particular person (a bit like how Kéyah put it). Different layers would synchronise with different peoples interpretations of London

[2021-02-03 12:30] gabrielbodard opened #25 "Discussion of session 4 readings: Palladino 2016 + Simon 2019"
* Chiara Palladino. 2016. "New Approaches to Ancient Spatial Models: Digital Humanities and Classical Geography." In _Digital Approaches and the Ancient World_. Edd. G. Bodard, Y. Broux & S. Tarte. _BICS_ 59.2, 56-70. Available: http://onlinelibrary.wiley.com/doi/10.1111/j.2041-5370.2016.12038.x/full
* Rainer Simon, Valeria Vitale, et al. 2019. “Revisiting Linking Early Geospatial Documents with R

[2021-02-03 18:49] gabrielbodard opened #26 "Technical help with linked geodata exercise"
If you have any technical problems or other difficulties with the linked geodata exercise from [Session 4](https://github.com/SunoikisisDC/SunoikisisDC-2020-2021/wiki/CH4-Linked-Geodata) , please ask any questions in this thread. Please also keep an eye on this thread in case your colleagues post any issues that you have already dealt with or can help with.

[2021-02-04 14:23] gabrielbodard opened #27 "Discussion of session 5 readings: Christen 2017 & Vézina 2020"
* Kimberly Christen, Alex Merril & Michael Wynne. 2017. “A Community of Relations: Mukurtu Hubs and Spokes.” _D-Lib Magazine_ 23.5/6, Available: https://doi.org/10.1045/may2017-christen
* Brigitte Vézina. 2020. “Ensuring Respect for Indigenous Cultures: A Moral Rights Approach.” _CIGI Papers_ No. 243 (May 2020). Available: https://www.cigionline.org/sites/default/files/documents/vezina-paper_1.pdf

[2021-02-04 14:26] gabrielbodard opened #28 "Technical help with ICH exercise"
If you have any technical problems or other issues with the exercise for session 5, please ask for help in this thread, and we or your colleagues may be able to give some pointers.

[2021-02-04 14:31] gabrielbodard opened #29 "Discussion of session 6 readings: Seifried 2019 + Turchetto 2017"
* Seifried, R.M. and C.A.M. Gardner. 2019. "Reconstructing historical journeys with least-cost analysis: Colonel William Leake in the Mani Peninsula, Greece." _Journal of Archaeological Science: Reports_ 24:391-411. Pre-print available: https://works.bepress.com/rebecca-seifried/11/
* Turchetto, J. and G. Salemi. 2017. “Hide and Seek. Roads, Lookouts and Directional Visibility Cones in Central Ana

[2021-02-04 14:33] gabrielbodard opened #30 "Technical help with QGis exercise"
If you have any problems with installation, plugins, or other features of QGis or the exercise for session 6, please feel free to ask for help here, and we or your colleagues may be able to give you some pointers.

[2021-02-05 03:18] Kiamanx commented on #23
### **Canon, Value, and Cultural Heritage: New Processes of Assigning Value in the Postdigital Realm - Nuria Rodríguez-Ortega**

[Nuria Rodríguez-Ortega](https://uma.academia.edu/NuriaRodr%C3%ADguez) is a faculty member of the Art History department at the University of Malaga. Her main areas of study are the digital preservation of Art History and the uses and possibilities of the digitized artis

[2021-02-05 09:22] PAZHames commented on #24
Hi all,

I'm having a bit of an editing issue. I've added an info box to a page, using one from an established page for format, but I'm getting an 'unknown punctuation' warning come up. I've included my edit and the warning. I can't see any difference in the expression - does anyone have any ideas?

Thanks,
P

<img width="274" alt="Screenshot 2021-02-05 at 09 20 56" src="https://user-images.github

[2021-02-05 13:33] gabrielbodard commented on #24
@PAZHames Odd. I would expect that error to mean that there is a stray opening `{` somewhere that isn't expected, but I don't see it in your screenshot. (I presume the infobox ends with `}}` somewhere further down eventually?)

One thing that occurs to me is that the tag `|df=yes` ought to mean that the date is "day-first" format, but since you have only the year of birth, maybe that's confusing i

[2021-02-05 16:05] PAZHames commented on #24
@gabrielbodard I just removed |df=yes, but no cigar. And yes, there is a }} at the bottom. But useful to know! I assumed it was 'date from'.

^^What a completely bizarre few sentences.

[2021-02-05 17:34] gabrielbodard commented on #24
@PAZHames well I may be wrong! :) Have you saved the page, or are you keeping your draft in a separate doc somewhere so as not to lose it? If you've saved, would you like to give me the link and I'll look at it on WP? (Alternatively, temporarily delete that line and see if it still complains. If not, at least we know where the problem was.)

[2021-02-05 17:38] gabrielbodard commented on #24
@PAZHames : Ah, I've just looked at [the manual](https://en.wikipedia.org/wiki/Template:Infobox_writer/doc) and it seems that what we want when there is only a year is `{{birth year|1522}}` rather than `{{birth date}}`. Maybe it was complaining because it was seeing the closing `}}` before the month and day that it was expecting…

Does that work?

[2021-02-06 08:54] PAZHames commented on #24
@gabrielbodard Success! Thank you so much! This is she https://en.wikipedia.org/wiki/Luisa_Sigea_de_Velasco (not finished!)

[2021-02-06 14:15] K-Doering commented on #23
**Alexander Stinson, Sandra Fauconnier & Liam Wyatt. 2018. “Stepping Beyond Libraries: The Changing Orientation in Global GLAM-Wiki.” JLIS.it 9.3, 16–34.**

Stinson's article is on the topic of the changing relationships between GLAM institutions (Galleries, Libraries, Archives, and Museums) and Wikimedia communities.

In the beginning of this relationship, the focus was to batch uploads of digita

[2021-02-06 14:47] K-Doering commented on #24
Hi all, I am being harassed by a user and they accused me of vandalism because I copy edited a page requesting copy edits. I'm not sure what to do about this. I fear absolutely any edit I make is being tracked by this user.

[2021-02-07 18:41] FabioDFernandes commented on #23
Thank you Kiarash and Kéyah for your super detailed summaries of these two papers! They were really excellent and certainly helped me process these heftier articles.

On Rodríguez-Ortega - I found these concepts regarding canonisation a really enlightening way of tracing the increasing digitalisation (and in consequence, democratisation, I suppose you could say) of cultural heritage. Perhaps, 'tra

[2021-02-07 19:06] FabioDFernandes commented on #23
On Stinson, Fauconnier, Wyatt - I thought it was really interesting to learn that the British Museum had a a 'Wikipedian in Residence'. That there was tension between the professionals and 'perceived anti-experts' was interesting to learn too, and  this very much plays into what the other article discusses regarding canons. It is certainly a good thing if GLAM institutions can contribute to Wikime

[2021-02-08 11:29] RichardNevell commented on #24
Hi Kéyah, if you can share a link to the article in question I'd be happy
to take a look. Accusing good faith editors of vandalism is not acceptable
behaviour.

On Sat, 6 Feb 2021 at 14:47, Kéyah Doering <notifications@github.com> wrote:

--
Dr Richard Nevell
Project Coordinator, Wikimedia UK
020 3372 0765

*Wikimedia UK* is the national chapter for the global Wikimedia open
knowledge movement, an

[2021-02-08 11:58] RebeccaKimberlin commented on #23
Thank you both your summaries! Linked slightly to the question of editor identity, but more to 'transcanonisation' - I found Ortega's note on how various mechanisms designed to facilitate decanonisation were destabilised by interventions from the "legitimised" institutions (in the case of Centre Pompidou) really interesting + thought-provoking, especially with our discussion of private/public resp

[2021-02-08 14:44] K-Doering commented on #24
@RichardNevell, Thank you for your offer to take a look! I was able to have a community member review my edits through the help center on Wikipedia (I made all of my edits at once so the user reverted all of my edits rather than the primary edit they took issue with (which was a valid mistake)) and I also sorted the vandalism issue with this user (apparently it flagged as vandalism automatically b

[2021-02-08 16:26] ChantalvanEgdom commented on #23
Thank you for the summaries, they were very helpful! @RebeccaKimberlin , I was wondering something along the same lines for Rodríguez-Ortega's article, namely if the main prerequisite for how authority is to be estalbished in this new, more open way, that access seems to be playing a major part in that (similarly as was discussed in the lecture) and through that it seems to me that quantity may en

[2021-02-08 16:47] FabioDFernandes commented on #23
@RebeccaKimberlin A good point! I do also agree that the practice of tagging in the Pompidou case must have served to reduce the spontaneity of users. As the tagger had 'to comply with words previously systematized in an established thesaurus', it would seem as though they were more concerned in offering a curated and limited set of interpretations and perspectives rather than allowing users to of

[2021-02-08 16:55] ChantalvanEgdom commented on #23
On Stinson's article, I really like the idea of a Wikipedian in residence and the formal relations with institutions and it's a great step into the direction for more evenly spread reliability, but do agree with Fabio that diversity and insider perspectives are incredibly valuable and important. I do get the impression that the GLAM-Wiki project seems to be moving into that direction, even though

[2021-02-08 19:10] despinaborcea commented on #23
Thank you Kiarash and Keyah for your excellent summaries!
As a quick note building on Fabio’s observation – whilst I agree that Wikipedia edits could fit under the umbrella of transcanonization, I also think they could easily slip into hypercanonization or social decanonization. For example, some pages are watched by more editors than others (some topics are more popular/sensitive/etc than others)

[2021-02-08 19:39] FabioDFernandes commented on #23
Very good point Despina! I agree with you - especially where a page/genre might be monopolised by a series of editors who hold influence over how it is edited, it can certainly fit into a form of hypercanonisation. And social decanonisation too, in that, as you mention, some less edited pages are basically left to the will of whoever gets to it (which can be both good and bad depending on the aims

[2021-02-08 20:54] K-Doering commented on #23
Thanks to you both for your insights. This was a concern I was thinking about a few days ago when my changes were reverted -- there is already an unseen hierarchy built into Wikipedia. Instead of the "currency" of degrees and career experience, those who have been editing for years and have dozens of badges are now the editing gatekeepers and feel they have authority to revert edits by emerging ed

[2021-02-08 21:24] Kiamanx commented on #23
Great points from all!
While I completely agree that Transcanonisation is the ideal that should be strived for, I'm pretty confident that Hypercanonization is the future going forward. Kéyah's situation proving my point. Seeing the transfer of cultural information on the internet has made me pessimistic for its future in terms of collaboration, it seems to me that each passing day a compromise bet

[2021-02-08 22:32] despinaborcea commented on #23
I completely agree, Keyah- there is certainly a subjectivity component that should be factored in when considering vetoing edits! But I also think that verifying the background of all contributors (level of education/career background/etc) would probably have a detriment on the free nature of Wikipedia (potentially costly if checks would be done by an authorised board or by a program, for which de

[2021-02-09 12:18] FabioDFernandes commented on #24
https://en.wikipedia.org/wiki/Decimus_Terentius_Gentianus

As suggested by Gabbie, here is my edited article, which any of you may feel free to edit yourselves.

[2021-02-09 12:24] PAZHames commented on #24
https://en.wikipedia.org/wiki/Luisa_Sigea_de_Velasco

edited re suggestions from earlier

[2021-02-09 16:21] RichardNevell commented on #24
I'm glad it got sorted. I've seen more than a few times that an error can
result in a swathe of edits getting reverted by another edit. That isn't
good practice, but it happens because it's quicker and easier than fixing
the issue.

On Mon, 8 Feb 2021 at 14:45, Kéyah Doering <notifications@github.com> wrote:

--
Dr Richard Nevell
Project Coordinator, Wikimedia UK
020 3372 0765

*Wikimedia UK* is t

[2021-02-09 16:56] nicolealexandra33 commented on #25
**Rainer Simon, Valeria Vitale, et al. 2019. “Revisiting Linking Early Geospatial Documents with Recogito.” e-Perimetron 14.3, 150-163.**
‘Recogito is an open source tool for semantic annotation’ which allows for a great number of applications and techniques for collaboration and is maintained by the Pelagios Network, a ‘non-profit association advocating and enabling the production and use of link

[2021-02-09 23:27] alexandrabushman commented on #24
https://en.wikipedia.org/wiki/Iynx

Here is the wikipedia page I've been working on. My username is Classicsstudent21 to see my other edits. -Alex

[2021-02-10 22:15] K-Doering commented on #24
Here is the Wikipedia page I've made edits and added sources to: https://en.wikipedia.org/wiki/Karnak_Open_Air_Museum

[Here is also the link to my user page.](https://en.wikipedia.org/wiki/User:K100154910)

[2021-02-12 08:09] PAZHames commented on #25
@nicolealexandra33 thanks for the summary! You're so right, it would be really interesting to hear about Recogito's use in more archaeology-based projects. As they only mention text-based examples (including source maps), I assumed this was the primary/sole purpose of the project. In what way were you thinking it might be most useful for long-term archaeological projects?

[2021-02-12 12:22] ChantalvanEgdom commented on #25
**Chiara Palladino. 2016. "New Approaches to Ancient Spatial Models: Digital Humanities and Classical Geography." In Digital Approaches and the Ancient World. Edd. G. Bodard, Y. Broux & S. Tarte. BICS 59.2, 56-70.**

_Defining ancient geography_

Ancient geography had a periplographic nature, being primarily conceived in the shape of a practical narrative, shaped by the establishment of travel-rou

[2021-02-12 21:45] nicolealexandra33 commented on #25
@PAZHames It's a good question regarding how it can be more accommodating to archaeology projects. I do know that they try to distinguish ancient and modern settlements and places, but I do think having a bit more control over where to put a place marker is one thing that would be helpful for archaeological projects. For example, when I was attempting to annotate a bit of Strabo's Geography, I cou

[2021-02-14 12:47] FabioDFernandes commented on #25
I would imagine that it becomes more limiting to not be able to annotate more precisely on the maps. I think in the context of archaeology (which is not where my forte lies), a tool like this, and the ability to annotate more precisely, would be useful in documenting certain trends of distribution of certain things (over long geographical distances), or in an urban archaeological context (i.e. Pom

[2021-02-14 13:20] FabioDFernandes commented on #25
@ChantalvanEgdom Thank you Chantal for your very detailed summary! It certainly is interesting how the ancients perceived space (and thus travel, geography and the world) differently to us, and it was good noting how there was a general empirical geographical perspective ('you follow the south wind, look for the lighthouse,' etc.) as well as an abstract, which I suppose was likely more the reserve

[2021-02-14 14:06] K-Doering commented on #25
Thank you @ChantalvanEgdom for your great summary! Thank you also, @FabioDFernandes, for your insights!

I am not sure about the UK but in the US at least the prevalence of geographic semantics is still quite strong by region. Where I am from, in the Midwest, we measure everything by time and proximity to town/neighborhood (a place is *always* measured by it's distance in minutes driving and dista

[2021-02-15 12:24] PAZHames commented on #25
@nicolealexandra33 I can imagine that would be really helpful - a really interesting point! When annotating for Strabo, did you feel like that lack of specificity held you back at all? Or was it ok as primary targets were bigger?

@FabioDFernandes I think you're right - it does seem to make most sense focusing on texts and maps for that reason. Maybe this could be a new off-shoot for Recogito, or

[2021-02-15 16:54] #28 closed, assigned to gabrielbodard

[2021-02-15 18:00] RebeccaKimberlin commented on #25
Thank you both for your summaries! I would also add to Despina's point on geographic semantics, they are certainly prevalent in the UK too - I immediately thought of online walking tours / blog posts where the instructions often say 'walk until you reach x pub' or 'turn at x landmark' which similarly have the effect of mapping a place not through precise geography but physical, tangible reference

[2021-02-15 18:12] gabrielbodard commented on #24
@FabioDFernandes

Would you consider adding the Latin alongside the translation on this page?

[2021-02-15 19:49] FabioDFernandes commented on #24
@gabrielbodard Thank you for the suggestion - I was intending on further structuring the article soon, and will certainly add that in.

[2021-02-15 19:54] FabioDFernandes commented on #25
Yes, it would certainly be an area for further development in that aspect, and it would be a useful tool in the archaeological context. I wonder if anything like this has already been designed.

[2021-02-15 20:50] FabioDFernandes commented on #26
For some of us, when sharing our work as a web link with our group via email, for the recipients it opens onto 'oops nothing found'. If anyone has experienced that or knows, it would be great to know how to get around that (though I suppose it's not immediately urgent, there are other ways of sharing, such as adding collaborators).

[2021-02-15 21:34] K-Doering commented on #25
Just adding onto your points @PAZHames, I think an integration of a Layers of London type capability of being able to overlay era-specific or skeletal maps could be extremely helpful in pinpointing more specific archeological points. Such as an outline of ancient Pompeii that can be viewed in tandem with a modern map. We will not always be so lucky with well-preserved sites like Pompeii and Hercul

[2021-02-16 00:12] Kiamanx commented on #25
I feel like we are lucky to have such an accessible annotation tool that translates to mapping so well, but I agree with Fabio that a much more powerful tool is probably required for more thorough work. I heard that Recogito has ceased development, and while the site still may have a lot of problems and bugs - I feel like it has set an interesting precedent for similar programs in the future.

[2021-02-16 07:38] alexandrabushman commented on #25
Thank you Nicole and Chantal for the summaries.
@nicolealexandra33 I can definitely see how data from old maps could be lost and hard to be distinguished digitally. I was surprised at how easy it was to annotate on Recogito for the most part. There were some places and names that annotation was difficult but that could just be some bugs that are still on the program. Overall I think the software i

[2021-02-16 09:45] despinaborcea commented on #25
I agree with you, Rebecca! Slightly off topic, sometimes it can happen that these instructions are retained hundreds of years with the actual landmark having disappeared, so it could be useful for reversed reconstruction – if we have directions for a building which no longer exists but might have been important in the past, directions can help pinpoint it on a map more precisely (of course, not 10

[2021-02-16 09:49] ChantalvanEgdom commented on #25
@K-Doering Very interesting to know this is still a used practice! Had no idea!

[2021-02-16 10:37] gabrielbodard commented on #26
@FabioDFernandes my first guess would be that either you didn't make the document visible to all with the link under settings (which you can't do unless you declare that the document is out of copyright or open licensed), or that the person who clicked on the link wasn't logged in? (Although the latter shouldn't be necessary if the document is visible to all. Can you share the link to the doc here

[2021-02-16 10:45] gabrielbodard commented on #25
@nicolealexandra33

More specifically, the authors are the creators of Recogito and the (then) managers of the Pelagios Project as a whole. It is self-reporting, not a critical assessment of the tool and methods.

[2021-02-16 10:49] gabrielbodard commented on #25
Re measuring distance in time: how far from central London do you live?

Answering that question in kilometers makes very little sense, because depending on a lot of other factors, someone geographically closer may take a lot longer to get to University, e.g. (Is it more useful to know that I live 19km from Senate House, or that my morning commute is a 20-minute train ride?)

[2021-02-16 10:59] FabioDFernandes commented on #26
https://recogito.pelagios.org/document/g9ndvzdg7mnsg9/part/1/edit

Thanks Gabby - I changed the document to out of copyright, though I still can't tweak public access (it is frozen).

[2021-02-17 08:19] PAZHames commented on #27
### A Community of Relations: Mukurtu Hubs and Spokes
Kimberly Christen, Alex Merrill and Michael Wynne (2017)

Mukurtu started as a grassroots project to display and curate the Warumungu Aboriginal community's digital materials 'using their own cultural protocols’. The importance of instating cultural protocols was seen when the Warumungu were initially distressed at seeing their digital material

[2021-02-18 11:20] gabrielbodard commented on #26
Hi @FabioDFernandes, can you try sharing that document with me (gabrielbodard) and give me admin rights, so I can look at the settings in Recogito?

[2021-02-18 12:37] FabioDFernandes commented on #26
Thanks Gabby, I have done this - I look forward to hearing if you manage to tweak it.

[2021-02-18 17:24] ChantalvanEgdom commented on #24
https://en.wikipedia.org/wiki/Dorcon Here is my Wikipedia article. Have not had to time to add anything after the lecture yet!

[2021-02-18 18:28] gabrielbodard commented on #26
@FabioDFernandes without changing any other settings, I seem to be able to change the Public Access preference to "Anyone with the link" without a problem. Someone try https://recogito.pelagios.org/document/g9ndvzdg7mnsg9 without being logged in?

(We should also be able to change it to "anyone with the link can annotate the document" if you like.)

[2021-02-18 18:46] FabioDFernandes commented on #26
@gabrielbodard That's truly strange, as even earlier today I could not interact with that function (was just greyed out). I clicked onto it, not logged in, and it seems to work now at least for me. I have changed it to 'anyone can annotate'. Thank you!

[2021-02-18 19:05] alexandrabushman commented on #27
**Ensuring Respect for Indigenous Cultures: A Moral Rights Approach**
Brigitte Vézina (2020)

The article focuses on the recognition of copyright over traditional cultural expressions (TCE)s and the intellectual property (IP) protection for them, specifically when it comes to Indignous cultures. Attempts to apply copyright law to TCEs generally fail due to the conceptual difference between Western

[2021-02-19 15:09] FabioDFernandes commented on #20
![Screen Shot 2021-02-19 at 15 04 02](https://user-images.githubusercontent.com/77735595/108521611-d3a61c00-72c3-11eb-8e74-7521be7cb715.png)
![Screen Shot 2021-02-19 at 15 03 03](https://user-images.githubusercontent.com/77735595/108521621-d4d74900-72c3-11eb-8d5e-b6744bca392b.png)

Hello, Gabby suggested I post my technological woes here. I am attempting to post my exported 3D model from Agisoft (

[2021-02-19 17:00] nicolealexandra33 commented on #27
Both super interesting articles, and I am really happy to see some progress done on protecting indigenous culture and the decolonisation of history and archaeology. Just a few thoughts which aren't directly from the readings, but they did make me think:

- I have been seeing a lot more indigenous youth here in North America who are rising in popularity on various social media platforms. In their c

[2021-02-21 14:20] ChantalvanEgdom commented on #27
Thank you for the summary @PAZHames ! I think the seperation between the layers is a good step and seems like a great way to maintain or even hand back the communities' control over their own cultural heritage. I agree with you, that limiting the communities' access to their own material seems like a step back/into the wrong direction... Probably ties in with the bigger problem of who ultimately i

[2021-02-21 14:36] ChantalvanEgdom commented on #27
@alexandrabushman I completely agree with your thoughts; the Indigenous communties and their wishes should always be prioritised over the interests, how well-intended they may be, of "outsiders" concerning Indigenous material. The _sui generis_ model seems like a good solution.

To add to @nicolealexandra33 's point on indigenous material gaining popularity on social media; I have seen this too an

[2021-02-21 17:16] K-Doering commented on #27
Thanks to both for such great summaries! @nicolealexandra33, I was also thinking about the access question in terms of those with genuine and/or research-driven interest and I think "applying" would be a remedy for those folks. The gatekeepers could then make a decision on how to handle their access. As someone who admittedly knows very little about any indigenous culture, the idea that women are

[2021-02-21 17:22] K-Doering commented on #27
Agreed @PAZHames, thank you for your comments! I think that the best next step would be to fund a position or fellowship for members of the six tribes to take up residency at WSU and to be partner gatekeepers. There is something rather backwards about the thought of a white man deciding what is best and most constructive to be included in the databases. To echo your last point though, I think this

[2021-02-21 18:47] FabioDFernandes commented on #27
Thank you both for your super detailed summaries!

It's a good point you made, Kéyah, that for those who wish to 'apply' to contribute, there could be a decision made by the gatekeepers for their admission. The example @nicolealexandra33 alluded to of 'first generation' descendants of these communities made me think of what Phoebe said about the community as a 'developing entity' - which all commu

[2021-02-21 18:52] FabioDFernandes commented on #27
Agreed!

[2021-02-21 18:55] K-Doering commented on #20
@FabioDFernandes, hi! So I just had the same issue myself. The issue was that my texture was too large of a file to be added separately/along with the .obj file. What I did instead was open my files in Blender, export as a .fbx file, and then add to Sketchfab and it retained my high resolution texture. I think the texture needs to be repackaged and that is the issue. The .fbx option helps support

[2021-02-21 20:44] despinaborcea commented on #24
https://en.wikipedia.org/wiki/Epistulae_ex_Ponto Here is the Wikipedia article I worked on, feel free to edit the page! :)

[2021-02-21 21:38] FabioDFernandes commented on #20
@K-Doering Thank you, Kéyah, for getting to me! I do appreciate it, as I'm still a bit of a noob. I am not working with an .obj (as it will not recognise the texture/colours of my model) but with a .dae. Your suggestion didn't quite work for me, but in exporting my model as an .fbx directly from Agisoft and tentatively uploading it to Sketchfab, I already got a much better result - though still no

[2021-02-22 14:05] nicolealexandra33 commented on #27
@ChantalvanEgdom Ah that's great to hear that viewers/followers mention or give credit to these content creators especially if it is not given immediately. While we've agreed that some of these platforms are hard to monitor and control how the content is shared and there are no real legal sanctions or boundaries at this point, it's nice to know that online communities who engage with this contact

[2021-02-22 16:16] Jessamyn-kcl commented on #27
Thanks for the great summaries guys! I think the Christen et al article particularly raises some very interesting issues: it's definitely great to see institutions engaging with indigenous communities and appropriate display. Displaying the dead especially is an area where lots of museums perhaps aren't as diligent as they should be in when it comes to ensuring cultural beliefs and appropriate war

[2021-02-22 18:20] despinaborcea commented on #27
Thank you both for your summaries! I agree with Nicole and Chantal's point about cultural heritage and social media. Sometimes it is difficult for the viewer to draw a distinction between the indigenous groups and the content of the 'influencers' with credits, because the latter might not name/obtain permission from the former. I can think of a slightly different example from Romania - traditional

[2021-02-23 09:54] despinaborcea commented on #27
I completely agree, Fabio! I think it would be quite interesting and useful to make available the 'external' perceptions of a diaspora on their source community. This reminds me of the GB1900 gazetteer creation a little - I think a similar layer of 'diaspora memories' applied to a digital map could reflect perceptions on those communities well. While the main and perhaps most reliable sources of i

[2021-02-23 10:46] FabioDFernandes commented on #27
That would certainly be a good idea, Despina! And I believe you are correct in all you say. Perceptions even within communities are often diverse.

[2021-02-24 12:32] nicolealexandra33 commented on #29
**Truchetto and Salemi**
This article investigates Roman routes in Central Turkey (Cappadocia) that were reused in the seventh century AD by the Byzantine/Arab military. Scholars attempt to locate the exact routes by means of both written sources and archaeological evidence: ‘In  particular,  this  is  the  case  of  the  road  network  established  between  Koloneia/Aksarayand  Tyana/Kemerhisar,

[2021-02-24 18:46] FabioDFernandes commented on #30
Hi all! I had already installed the programme a week or so ago, but I've realised that every time I try and reopen it after exiting, it has - I think - effectively uninstalled and has to reinstall. Not completely, but whenever I click the icon, it opens on this tab which I can't even name (attached image), which usually comes right after you have finished installing a programme. Then it has to ver

[2021-02-24 22:50] rmseifried commented on #30
Hi there! When you double-click the install icon and see the image you attached, the next step is to drag the QGIS-LTR icon into the Applications folder. That should complete the install process. You can then delete the install file. Then to actually launch the application, you can do so from the icon in the Applications folder. Does that work?

[2021-02-24 23:11] FabioDFernandes commented on #30
Hi @rmseifried, thank you for getting to me. I should have mentioned I had done that and the problem continued despite it. So I completely uninstalled/reinstalled it and after moving the icon to the Applications folder again, it now seems to work. I cannot rationalise why that is, but hopefully that sticks! Many thanks.

[2021-02-24 23:15] rmseifried commented on #30
@FabioDFernandes so glad it's working now! Hooray!

[2021-02-26 18:54] prakash27022021 commented on #30
Hello sir, I need a topic for college project.

[2021-02-27 16:14] despinaborcea commented on #29
Seifried and Gardner’s article discusses the assessment of the GIS least-cost analysis tool, which uses least-cost paths (LCPs) to model movement across landscapes and remains one of the most common GIS tools in use by archaeologists. The authors are mindful of two extreme trends with the tool: while it is a user-friendly instrument, least-cost analysis does not always deliver the most accurate re

[2021-02-28 13:46] K-Doering commented on #29
Thanks to both for your great summaries! I was particularly interested in the marriage of historical narrative and the GIS tools. As is a common theme in the previous tools and projects we have seen (and as I am typing is quite obviously inherent in 'digital humanities'), I think that these are invaluable methods of analysis for quantifying narrative experience to gain new meaning and understandin

[2021-02-28 15:41] nicolealexandra33 commented on #29
I was trying to see if maybe either of the applications of GIS that are mentioned in the articles (viewshed and LCPs) were used to try and clarify any of the routes taken by the Franklin expedition in the Arctic Circle once they went 'missing' from the records, but besides LIDAR, I am not sure they have used these applications, or how useful they would be. Viewshed might not be the most helpful fo

[2021-02-28 18:53] despinaborcea commented on #29
I certainly agree, Keyah - the most logical predicted trajectory is not necessarily the most feasible in real life. I found it quite fascinating how LCPs are important for both the reconstruction stories they tell and for the ones they do not - in Leake's case, his unpredicted diversions had historical motivations behind them, but I think one important aspect is that we know those motivations (and

[2021-03-01 12:36] gabrielbodard commented on #30
@prakash27022021

I think you may be asking this question in the wrong place. You should speak to your professors.

[2021-03-01 12:43] prakash27022021 commented on #30
I am using qgis how to create project using qgis

[2021-03-01 13:24] FabioDFernandes commented on #29
Thank you Nicole and Despina for your summaries! In the case of the Cappadocia fortresses, it does seem logically obvious that fortresses would be placed where they could accumulate a view over the surrounding territory and passes from where outsiders could enter, as well as of other fortresses for communication, but it is certainly useful to have GIS validate that with much more precise and tangi

[2021-03-01 18:50] gabrielbodard opened #31 "Discussion of session 7 readings: Verdiani 2015; Mendis 2015"
* Giorgio Verdiani. 2015. "Bringing Impossible Places to the Public: Three Ideas for Rupestrian Churches in Goreme, Kapadokya Utilizing a Digital Survey, 3D Printing, and Augmented Reality." _Open Archaeology_ 1.1. Available: https://www.degruyter.com/document/doi/10.1515/opar-2015-0007/pdf
* Dinusha Mendis, Davide Secchi & Phil Reeves. 2015. _A Legal and Empirical Study into the
Intellectual Prop

[2021-03-01 18:52] gabrielbodard opened #32 "Technical help with Sketchfab exercise"
If you need any help with the [Sketchfab](https://sketchfab.com/) exercise, registering, finding or uploading your 3D model, or any of the annotations and other features of the platform, please ask your questions here. We or your colleagues may be able to suggest solutions.

[2021-03-01 20:03] ChantalvanEgdom commented on #29
Thank you both for the great summaries! I really like the idea of challenging written sources in this way, and as @FabioDFernandes has pointed out, it is a great way of revealing shortcomings. Also good to see how helpful GIS tools can be in establishing such arguments.

It'd be interesting to look at tensions between results from cost rasters and actual, real life decision making and see whether

[2021-03-01 20:07] ChantalvanEgdom commented on #30
I was wondering if anyone had found any resources to get your hands on more data, similar to the files we were given? I have been digging around a bit, as I wanted to experiment with a different area on the map, but got no further than [https://www.openstreetmap.org/#map=9/39.0565/26.5842](url) which didn't seem to be able to actually provide the files needed (or maybe I am not doing it right and

[2021-03-01 20:18] RebeccaKimberlin commented on #29
This is such a good point, re tensions between the results. Especially when routes continue to be used, but certain threats may have faded, it emphasises how the technology and written sources work and thrive off each other, filling gaps that the other has - and, as Despina highlighted above, the LCPs cannot account for the human decision making, to avoid certain routes because of social/political

[2021-03-01 20:51] rmseifried commented on #29
Hi all, I just wanted to chime in and respond to a couple of points that folks raised. @RebeccaKimberlin brought up the idea to take social/political factors into account when running LCA, and it made me think of this section ([5.7 Social and cultural cost components](https://intarch.ac.uk/journal/issue36/5/5-7.html)) of Irmela Herzog's larger review article on archaeological LCA studies. It is no

[2021-03-01 21:03] rmseifried commented on #30
Hi @ChantalvanEgdom - my favorite way to download OpenStreetMap data is [Geofabrik](http://download.geofabrik.de). You can navigate down through sub-regions to access the OSM data for a particular country. For example, this is the [page for Greece](http://download.geofabrik.de/europe/greece.html). If you'd like to open the data in QGIS, look for the .SHP extension (like "greece-latest-free.shp.zip

[2021-03-01 21:06] ChantalvanEgdom commented on #30
Hi @rmseifried - Thank you so much, that's incredibly helpful!

[2021-03-01 22:00] FabioDFernandes commented on #30
Thank you @rmseifried and @ChantalvanEgdom - I had also been wondering this!

[2021-03-01 22:57] FabioDFernandes commented on #29
@rmseifried Thank you for the interesting section on this matter - I would imagine, especially in the study of past routes, it is certainly a challenge. And how interesting to learn about your experience with older family members. Especially in non-urbanised, but populated, settings with heavily restrictive geography (like the rugged Mani Peninsula), I would think it logical that certain paths hav

[2021-03-01 23:58] Kiamanx commented on #29
Absolutely fascinating. It is interesting to think about the sheer number of ancient routes and desire paths that have been eroded with time. About a year ago, I was looking into various routes in and out of the southern Andalucian mountains between the ocean and the plains. There were hundreds of different routes that still remained with ancient villas and sites marking where some lay such as the

[2021-03-02 07:37] PAZHames commented on #29
@K-Doering you've started an inter-generational revolution of data mining! I also love how this ties into what we were thinking about last week re the importance of harvesting a generation's knowledge on an increasingly changing/disappearing political landscape like Palestine.

[2021-03-02 09:51] alexandrabushman commented on #29
Thank you both for your summaries! That's a great point, detours could have occurred for a myriad of reasons that digital cultures cannot convey. @ChantalvanEgdom made a great point, we could probably fill these gaps to identify dangerous routes with primary sources.

[2021-03-02 10:40] gabrielbodard commented on #30
Thanks, @rmseifried!

I've also used very high granularity country/region/district shapefiles from GADM (https://gadm.org/download_country_v3.html) - if someone's interested I can try to dig out some code we used in the CALCS project to filter ancient places within the footprint of a modern country, for example.

[2021-03-04 06:23] prakash27022021 commented on #30
Any plugin or tools for calculating area of the shapefile

[2021-03-04 15:33] FabioDFernandes commented on #31
**Summary of Giorgio Verdiani – Bringing Impossible Places to the Public: Three Ideas for Rupestrian Churches in Goreme, Kapadokya Utilising a Digital Survey, 3D printing, and Augmented Reality**

The Göreme area in Kapadokya (Cappadocia), Turkey, is famed for its unique geological landscape which has been exploited since antiquity – most notably its system of rupestrian (art done on rock or cave

[2021-03-04 17:19] PAZHames commented on #31
A brief sidebar - Astrid was the absolute highlight of my week, hope everyone else enjoyed the lecture!

[2021-03-05 08:28] PAZHames commented on #31
@FabioDFernandes thanks for your summary! Gloriously detailed. I think your point re the digital version not necessarily being a compromise was really interesting. I personally find it fascinating that the authors bothered to make this point, as the bigger issue at stake seems to be that the process guarantees preservation and also (especially in the case of the Church of St Eustache) vastly impro

[2021-03-05 08:32] PAZHames commented on #31
Although the authors do concede to it not being _exactly_ the same in their conclusion

[2021-03-05 11:08] FabioDFernandes commented on #31
@PAZHames Thank you, Phoebe! I suppose I did not quite process their concession in the conclusion! There certainly is a 'romantic' element to visiting an ancient monument in person and experiencing it in with all the senses, as you put it so well. Still, as you say, the main point is that it opens 'access' to an extent that would never be possible in the actual monuments due to their degradation.

[2021-03-05 17:38] RebeccaKimberlin commented on #31
**Summary of A Legal And Empirical Study into the Intellectual Property Implications of 3D Printing, compiled by Dinusha Mendis, Davide Secchi and Phil Reeves**

The report was commissioned by the IPO (Intellectual Property Office), following the recommendations of a report from the Big Innovation Centre in 2012 that detailed a number of other recommendations for considering policy around 3D print

[2021-03-06 12:41] ChantalvanEgdom commented on #31
Thanks for the summaries, both! I wonder if the presence of these scans would change anything regarding the ethics of renovation of these churches. The churches will probably keep declining in quality over the years and restoring would be tricky (if even possible?) as it would change elements of the original (and then you could get into the whole "Theseus' ship" argument, with the orgininal being

[2021-03-06 12:51] ChantalvanEgdom commented on #32
Hi! I have been trying to upload the 3D image I made in week 1 and I unfortunately have come across the same issue I had back then when trying to export the image, which is that the colours do show up, but very vaguely and blended (you can see it here: [https://skfb.ly/6ZxKn](https://skfb.ly/6ZxKn) whereas when still in Metashape, it looks very detailed and nothing like this. It's also not that th

[2021-03-07 16:03] K-Doering commented on #31
Thanks to both for the summaries and @PAZHames for your thoughts here! The authors' comment also stood out to me and I think there is certainly a danger in trying to serve two masters: the visitor and the archeologist. I think that the use of AR to explore the churches would allow for more engagement and the preservation of the sites and I believe that at a certain point, the preservation needs to

[2021-03-07 16:31] K-Doering commented on #31
Thanks for this @ChantalvanEgdom! In a similar vain to my other comment, I am not clear on the goal of preservation. I certainly agree that preservation is good for the sake of it but if visitors aren't coming in and archeologists aren't studying it then is the preservation just for future generations to rediscover? In this case, the use of AR and laser scanning of the sites is imperative for our

[2021-03-07 17:19] nicolealexandra33 commented on #31
Mendis's article is very interesting regarding the future legal and copyright issues surrounding 3D printing once it becomes more widely used. I find it particularly interesting that they stated that one of the future potential widespread uses would be for arts and crafts purposes, and I can certainly see that this would open up issues regarding copyright infringement. Not sure if this is a silly

[2021-03-08 08:46] despinaborcea commented on #31
Thank you both for your excellent summaries! RE @ChantalvanEgdom: What an interesting point! With regards to the accessibility to a deteriorated/ing site, I think 3D methods can help in that they can show/estimate both damage visible to the eye (e.g. the discolouring of the frescoes of Meryemana) and imperceptible damage (e.g.: structural, with risk of collapse hazards and others). The way I see i

[2021-03-08 10:50] RebeccaKimberlin commented on #31
I don't think this is a silly/imaginative point at all - it's really interesting! I actually read this week that an artist made a freedom of information request for 3D scans of sculptures by Rodin and is taking the Musee Rodin to court because they refused - there are various points of interest here including the classification of CAD files and moral rights, but the artist also mentioned that 'aut

[2021-03-08 14:36] nicolealexandra33 commented on #31
Wow! That's really interesting! The 'authenticity cannot be reproduced via a scan' point is really interesting, and while I am sure steps have been put into place to have this for several well-known works of art, I wonder if there will new ways created to try and authenticate other materials.

[2021-03-08 18:21] ChantalvanEgdom commented on #31
Thank you @K-Doering and @despinaborcea ! Those are some great points. To jump on @RebeccaKimberlin 's comment that 'authenticity cannot be reproduced via a scan', I was thinking about if we could enhance the churches accessbility through restoration (purely hypothetical), combined with having the scanns of the original monuments, if that would justify making such restorations (in order to enhance

[2021-03-08 20:47] gabrielbodard commented on #32
Hi @ChantalvanEgdom apologies for just spotting this. Could you try saving the model from Metashape in Metashape's own format ("save" not "export"), and email it to someone else (perhaps me and your project partner) so we can see if it works in Metashape locally? Sorry you've had this problem—were you at least able to annotate the model, despite the muted colours?

[2021-03-08 21:04] gabrielbodard opened #33 "Discussion of session 8 readings: Douglas 2019 & Navarrete 2020"
* Susan Douglas and Melanie Hayes. 2019. “Giving Diligence Its Due: Accessing Digital Images in Indigenous Repatriation Efforts.” _Heritage_ 2.2, 1260-1273. Available: https://www.mdpi.com/2571-9408/2/2/81
* Trilce Navarrete & Elena Villaespesa. 2020. “Digital Heritage Consumption: The Case of the Metropolitan Museum of Art.” _magazén_ 1.2, 223–248. Available: http://doi.org/10.30687/mag/2724-3923

[2021-03-08 21:06] gabrielbodard opened #34 "Technical help with open license exercise"
If you have any technical or other issues with the exercise for session 8, drafting a bespoke open license, please feel free to ask them here after discussion with your project partners. We and/or your colleagues will try to help if we can.

[2021-03-08 23:28] Kiamanx commented on #31
I'm so happy that the cave churches in Cappadocia are being scanned! An absolutely beautiful part of the world.
While yes, there is no beating the real thing, a CAD version of these cave churches is a fantastic method of preserving them. That area requires real care in preservation as erosion and other factors have already damaged the rock formations - which is the basis for the way of life of the

[2021-03-09 10:59] despinaborcea commented on #31
Just to build on @Kiamanx point about the preservation - those original scans could also be used for 3D 'copies' I think. While it is not possible to ''print'' a cave church, it might be worthwhile reproducing a wall with frescoes with AR or actual paint/ 3D methods for say, museum exhibitions - perhaps that could render a personal feeling coming closer to the experience of actually visiting the s

[2021-03-11 13:12] ChantalvanEgdom commented on #33
Giving Diligence Its Due: Accessing Digital Images in Indigenous Repatriation Efforts - Susan Douglas and Melanie Hayes

1.	Introduction
This paper explores the relationships between Indigenous interests and digital images, its barriers and concerns over permissions and the monopolization of cultural material of Indigenous, Métis and Inuit peoples of Canada, in a time of constantly increasing elec

[2021-03-11 14:14] nicolealexandra33 commented on #33
This article reminds me of one case study that has been an ongoing point regarding the ethical issue surrounding the preservation of material culture and the conflict with indigenous rights--- totem poles were traditionally used as commemorative monuments for the First Nations groups of the Pacific Northwest coast and often contained the remains of deceased ancestors and members of these First Nat

[2021-03-12 03:04] Kiamanx commented on #33
_**Digital Heritage Consumption: The Case of the Metropolitan Museum of Art - Trilce Navarrete & Elena Villaespesa**_

**Intro:**
With the internet more popular than ever, Museums are lagging behind with online accessibility. While they may be increasing their social media presence and have a number of mobile apps to accompany visitor experiences, online access to museum collections routinely lag

[2021-03-15 18:15] FabioDFernandes commented on #33
Thank you both for your excellent summaries. One quote from that @ChantalvanEgdom noted down did grab my attention: “it seems intuitively wrong that the oppressor’s laws should be relied upon to protect the culture of the oppressed”. It certainly does tie in with the wider question of who should have the final say over the preservation of objects belonging to certain cultures and heritages. @nicol

[2021-03-15 18:39] Kiamanx commented on #33
The article showed me that there was a very awkward era where museums were deemed genuinely classist institutions. I think some of that perception still lingers today, but in the old days this was reflected directly by the staunchly classist studies that some conducted. It's super interesting that now museums have a chance to become more accessible than ever and disseminate their pieces free of ch

[2021-03-15 19:14] gabrielbodard opened #35 "Discussion of session 9 readings: Ferdani 2019 & Vitale 2016"
* Daniele Ferdani, Emanuel Demetrescu, Marco Cavalieri, Gloriana Pace, Sara Lenzi. 2019. “3D Modelling and Visualization in Field Archaeology. From Survey To Interpretation Of The Past Using Digital Technologies.” _Groma_ 4 (2019). Available: http://dx.doi.org/10.12977/groma26
* Valeria Vitale. 2016. “Transparent, Multivocal, Cross-disciplinary: The Use of Linked Open Data and a Community-develope

[2021-03-15 19:15] gabrielbodard opened #36 "Technical help with Blender exercise"
If you have any technical issues or other questions about the Blender exercise, please feel free to ask them here, and we or your colleagues may be able to give some pointers.

[2021-03-16 03:49] K-Doering commented on #33
Yes, thank you both for your detailed summaries! I know everyone is probably sick of me bringing up gatekeeping every week but I agree with the wider question mentioned by @FabioDFernandes. Who should have the final say? The UN? I also jotted down this quote as something I particularly wanted to bring to the discussion board.

I think that the ideal would be to create a framework where everyone ca

[2021-03-16 04:16] K-Doering commented on #33
Thanks @FabioDFernandes and @Kiamanx for this interesting deeper discussion on 'classicism' in museums. I thought that the article made a good point in noting that it increased visibility of the paintings but it did not change their 'visitor' demographics. They expected that digital availability would increase consumption across different socio-economic groups but "this did not appear to be the ca

[2021-03-16 09:13] FabioDFernandes commented on #33
Thanks for this reply, Kéyah. I am inclined to agree with you. You are right to point out that these processes have not (yet?) seemed to increase consumption across different socio-economic groups. I think, perhaps, we were thinking quite idealistically about how digitisation could theoretically influence this in the future, especially if it is done in a way that is disseminated widely and democra

[2021-03-16 09:19] FabioDFernandes commented on #33
Totally agree with you, Kéyah. I think that in these current frameworks, it is fundamental that the voice of the community of origin of whatever is in question must retain the paramount say. The idea that western institutions can still retain an authority over the preservation and interpretation of heritage of other communities, especially those that are still living (like the totems Nicole mentio

[2021-03-16 11:52] alexandrabushman commented on #34
https://docs.google.com/document/d/1YfydnmwYr0Tqxt2l-mKlmzZ7SpEMQEoMh4GkekKWaE0/edit?usp=sharing

[2021-03-16 11:53] PAZHames commented on #34
https://docs.google.com/document/d/1vr8R44PQXcchUPFDxPaSkG3C3c3-wxoLKk7mkFiv_Ww/edit

[2021-03-17 09:03] PAZHames commented on #35
### Vitale - Transparent, Multivocal, Cross- disciplinary: The Use of Linked Open Data and a Community-developed RDF Ontology to Document and Enrich 3D Visualisation for Cultural Heritage

This article is about the problem of opacity in 3D technologies. 3D visualisations are largely presented to the public without documentation, meaning that the public cannot assess how accurate they are, as sourc

[2021-03-17 09:06] PAZHames commented on #35
### Vitale - Transparent, Multivocal, Cross- disciplinary: The Use of Linked Open Data and a Community-developed RDF Ontology to Document and Enrich 3D Visualisation for Cultural Heritage

This article is about the problem of opacity in 3D technologies. 3D visualisations are largely presented to the public without documentation, meaning that the public cannot assess how accurate they are, as sourc

[2021-03-17 09:09] PAZHames commented on #35
### Vitale - Transparent, Multivocal, Cross- disciplinary: The Use of Linked Open Data and a Community-developed RDF Ontology to Document and Enrich 3D Visualisation for Cultural Heritage

This article is about the problem of opacity in 3D technologies. 3D visualisations are largely presented to the public without documentation, meaning that the public cannot assess how accurate they are, as sourc

[2021-03-19 18:19] nicolealexandra33 commented on #35
With 3D visualizations, I wonder about the increased complexities surrounding 3D facial reconstructions-- in this situation, I guess there is a bit less controversy surrounding who is the person reconstructing, as creating facial reconstructions requires someone who is trained in forensics. However, there have still been quite a few issues surrounding the 'whitewashing' of historical figures' 3D m

[2021-03-21 06:15] K-Doering commented on #35
**Daniele Ferdani, Emanuel Demetrescu, Marco Cavalieri, Gloriana Pace, Sara Lenzi. 2019. “3D Modelling and Visualization in Field Archaeology. From Survey To Interpretation Of The Past Using Digital Technologies.”**

This article is about the merging of hard sciences with the humanities through new computer-based research technologies, which interpret and visualize archeological data. The case stu

[2021-03-21 17:16] ChantalvanEgdom commented on #36
Hi! I'm having quite a lot of trouble with the exercise, and my current issue is that there is no cube in the project (it's gone, I must have done something but unsure what). Can I add in a new cube, or does the cube need specific measurements? I'd rather not have to start the whole thing over again to start with the cube that Blender is supposed to give you at the start of the project as it was q

[2021-03-21 20:28] nicolealexandra33 commented on #36
Hi there! I am stuck at the part where one has to trace the outline of the cross section/profile. I believe this is the part where you go into Edit Mode and select cursor and then go SHIFT+CONTROL+RIGHT MOUSE CLICK to drag the cursor along the outline, but for some reason, I am not getting the same dotted line that Vasiliki got, and when I try to finish the outline, it disappears once I let go of

[2021-03-21 20:52] K-Doering commented on #36
Hi all, I too am having  a lot of difficulty with this exercise. I am stuck at the volume calculation, I have tried for hours to close ('cap'?) my shape once I duplicate the faces (step 5). Not sure what I am doing wrong...

I wish that I could impart wisdom @ChantalvanEgdom and @nicolealexandra33, I am not sure how to help!

[2021-03-22 09:00] vasilikilagari commented on #36
Dear all,
Thank you for your questions! I am very busy today but tomorrow I will submit here a youtube private link with showing you how to finish this exercise. Dont get discouraged, I know it might be frustrated in the beginning :)

[2021-03-22 09:04] vasilikilagari commented on #36
You might not be seeing the cube if you have deselected it from the outline viewer. But in any case you can add another add. Press SHIFT+A and the Add window will appear with many options. Select Cube from the Mesh list.

[2021-03-22 17:13] FabioDFernandes commented on #36
Alas, I am also stuck with this exact problem and cannot figure it out. I am on a Macbook, which I know has its own particularities with these functions, though I don't know if that is the issue.

[2021-03-22 17:14] ChantalvanEgdom commented on #36
I am also on this point now, and have the same problem. I've tried with my laptop's mousepad and with a wired mouse, but the issue persists...

[2021-03-22 17:47] ChantalvanEgdom commented on #35
Great summaries both! I think it's great that there is more thought about decisions and even skills of 3D modellers. When doing the exercise, I found myself sometimes setteling for the next best maesurement as I couldn't quite seem to pinpoint the exact spot, and when this happens in models that will actually be used, beit in a museum setting, academia or anything else published, I'd like to be aw

[2021-03-22 21:56] gabrielbodard commented on #36
@nicolealexandra33 @FabioDFernandes @ChantalvanEgdom I struggled with getting CTRL+SHIFT+RMB to do anything, but I think it finally worked when (a) the cube was still selected (after having had its vertices deleted); (b) we were in edit mode. Click once (don't drag) on each point on the curve, and the line should extend to that point.

(I feel your frustration, btw. Blender keeps crashing for me—a

[2021-03-23 03:50] K-Doering commented on #35
Great points and questions, both! I think that providing a report of the choices made (upon request even) would be extremely beneficial, particularly for any models that would be used in somewhere like a museum or in academia. As mentioned in the Vitale article, I definitely could see the issues with researchers work being thrown out because of the choices made without references -- however, I do

[2021-03-23 09:10] FabioDFernandes commented on #35
Thank you both for your excellent and super clear summaries! I agree @K-Doering that we often just take (or I have done) 3D reconstructive models of ancient sites at face value without ever considering what exactly is tangible and verified, and what is still hypothesis. It might give the very outward impression to many that we have a very complete image of historic sites that today are no less tha

[2021-03-23 09:17] ChantalvanEgdom commented on #35
@K-Doering , I think you're right, especially "that the models are more of an art than a science, and that's okay." Standards and reports and their amount of detail should depend on the usage of the model.